@import './mixins/opacity';
@import './mixins/transition-animation';
@import './mixins/border-radius';
@import './mixins/box-shadow';
@import './mixins/keyframe';
@import './mixins/animation';
@import './mixins/transform';
@import 'mixins/media-query';

$color-snowhite: $snowhite;
$color-dark    : #1f1f21;
$color-shadey  : #333333;

$args          : scaleX(-1) rotate(180deg);

@mixin meta-header-before($bg-color) {
  background-color: $bg-color;
}

%modal-overlay-style {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

%section-padding {
  padding-top: 40px;
}

%about-section-aegius {
  position: absolute;
  content: '';
  width: 100%;
  height: 300px;
}

.about-wrap {
  position: fixed;
  background-color: transparent;
  z-index: -14;
  @extend %modal-overlay-style;
  @include transition(all .2s ease-in);
  @include animation(null, .5s, fadeOut);
  @at-root {
    @include keyframes(fadeOut) {
      0% { opacity: 1; }
      25% { opacity: .75; }
      50% { opacity: .50; }
      75% { opacity: .25; }
      100% { opacity: 0; }
    }
  }
  overflow-y: auto;

  .container {
    @include respond-to(xs) { width: 24.5em; }
    @include respond-to(vw375) { width: 21em; }
  }

  .row {
    @include respond-to(sm) { padding-left: 0; }
  }

  &.is-shown {
    z-index: 14;
    background-color: #2a2a2a;
    @include animation(null, .5s, fadeIn);
    @at-root {
      @include keyframes(fadeIn) {
        0% { opacity: 0; }
        25% { opacity: .25; }
        50% { opacity: .50; }
        75% { opacity: .75; }
        100% { opacity: 1; }
      }
    }
  }

  .about-icon-close {
    position: fixed;
    z-index: 14;
    right: 30px;

    @include respond-to(xs) {
      top: -9px;
      right: -9px;
    }

    &.is-active {
      .md-light { color: #333; }
    }
  }

  .section-aegius,
  .section-shadey,
  .section-mayflower {
    position: relative;
    padding-bottom: 60px;

    .col-xs-12 {
      @include respond-to(xs) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    @include respond-to(xs) {
      padding: 12px 12px 60px 12px;
    }

    &:before {
      @extend %about-section-aegius;
      top: 0;
      left: 0;
      background-image: url('../../assets/img/gridbg_glow.png');
    }

    &:after {
      @extend %about-section-aegius;
      bottom: 0;
      left: 0;
      background-image: url('../../assets/img/gridbg_glow.png');
      @include rotate-flip($args);
    }
  }

  .section-shadey,
  .section-mayflower {
    &:before,
    &:after { @include opacity(.2); }
  }

  .side-nav {
    position: fixed;
    z-index: 14;
    top: 100px;
    right: 120px;

    @include respond-to(lg) { right: 60px; }
    @include respond-to(sm) { right: 40px; }
    @include respond-to(xs) {
      top: 54px;
      left: 24px;
      right: 0;
      text-align: center;
      display: none;
    }

    li {
      @include respond-to(xs) { display: inline-block; }

      a {
        display: block;
        padding: 5px 10px;
        font-family: $NotoSansBlack, sans-serif;
        font-size: 1.2rem;
        color: #1f1f21;
        border-left: 3px solid transparent;
        @include transition(all .3s ease-in-out);

        @include respond-to(xs) {
          font-size: 1rem;
          border-left: 0;
          border-bottom: 1px solid transparent;
        }
      }

      &.is-active {
        a {
          color: #333;
          border-left-color: #333;

          @include respond-to(xs) { border-bottom-color: #333; }
        }
      }

      &:hover a {
        color: #333;
        border-left-color: #333;
      }
    }
  }

  .meta-content {

    .section-btn {
      position: relative;
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 0;
      margin-left: 30px;
      padding: 10px 45px;
      font-family: $NotoSansBlack, sans-serif;
      font-size: 1.6rem;
      color: $snowhite;
      background-color: transparent;
      @include boxShadow(none);
      border: 2px solid $snowhite;
      @include border-radius(40px);
      @include transition(all .3s ease-in-out);

      @include respond-to(xs) {
        margin-left: 15px;
        font-size: 1rem;
      }

      &:hover {
        border-color: #f2f900;
        background-color: #f2f900;
        color: #333;
        @include boxShadow($boxShadowThree);
      }
    }

    .meta-content-header {
      $parent: '.meta-content';
      $child: '.meta-content-header';

      position: relative;
      padding-bottom: 40px;
      font-family: $NotoSansBlack, sans-serif;
      font-size: 4.2rem;
      line-height: 1;

      @include respond-to(xs) {
        font-size: 2.5rem;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
      }
      @include respond-to(xxs) { font-size: 1.9rem; }

      &:before {
        position: absolute;
        content: '';
        bottom: 0;
        width: 55px;
        height: 10px;

        @at-root #{$parent}.about-info {
          color: $color-snowhite;

          &.quote-panel {
            font-family: $NotoSansBold, sans-serif;
            height: 0;
          }

          #{$child}:before {
            @include meta-header-before($color-snowhite);

            @include respond-to(xs) { height: 5px; }
          }
        }

        @at-root #{$parent}.facilities-info {
          color: $color-dark;

          #{$child} {
            @extend %section-padding;
          }

          #{$child}:before {
            @include meta-header-before($color-dark);

            @include respond-to(xs) { height: 5px; }
          }
        }

        @at-root #{$parent}.staff-info {
          color: $color-shadey;

          #{$child} {
            @extend %section-padding;
          }

          #{$child}:before {
            @include meta-header-before($color-shadey);

            @include respond-to(xs) { height: 5px; }
          }
        }
      }
    }

    .meta-content-info {
      padding: 30px 0 0 30px;
      font-size: 1.8rem;
      line-height: 1.6;

      @include respond-to(sm) {
        padding-right: 50px;
        padding-left: 15px;
        font-size: 1rem;
      }
      @include respond-to(xxs) { padding-right: 90px; }

      span {
        &:not(.inner-info) { font-family: $NotoSansBlack, sans-serif; }

        &.inner-info {
          display: block;
          margin-top: .9em;
          font-family: $NotoSansRegular, sans-serif;
        }
      }
    }
  }
}
