@import 'fonts';
@import 'mixins/transition-animation';
@import 'mixins/border-radius';
@import 'mixins/media-query';

$primaryTextColor: #333;
$snowhite        : #f2f2f2;

$NotoSansBlack   : 'NotoSans Black';
$NotoSansBold    : 'NotoSans Bold';
$NotoSansMedium  : 'NotoSans Medium';
$NotoSansRegular : 'NotoSans Regular';
$NotoSansLight   : 'NotoSans Light';
$NotoSansThin    : 'NotoSans Thin';

$text-uppercase  : uppercase;
$text-capitalize : capitalize;
$text-lowercase  : lowercase;
$text-italic     : italic;

$text-left       : left;
$text-center     : center;
$text-right      : right;

$backgroundColor : #f7f7f7;

$gradientAegiusProps   : 0deg, #446bca, #3136b3, 0%, 100%;
$gradientMarsProps     : 0deg, #fa6700, #c55000, 0%, 100%;
$gradientShadeyProps   : 0deg, #d0d0d0, #efefef, 0%, 100%;
$gradientMayflowerProps: 0deg, #f2f900, #dee400, 0%, 100%;

$boxShadowOne    : 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
$boxShadowTwo    : 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
$boxShadowThree  : 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
$boxShadowFour   : 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
$boxShadowFive   : 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);

body {
  min-height: 100%;
  height: 100%;
  font: 16px -apple-system, $NotoSansRegular, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-rendering: swap;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: $primaryTextColor;
  background-color: $backgroundColor;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.overflow-none {
  overflow: hidden;
}

.hidden {
  display: none;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.float-right { float: right; }
.float-left { float: left; }

.m-0 { margin: 0; }
.m-15 { margin: 15px; }
.m-t-15 { margin-top: 15px; }
.m-r-15 { margin-right: 15px; }
.m-b-15 { margin-bottom: 15px; }
.m-t-0 { margin-top: 0; }
.m-r-0 { margin-right: 0; }
.m-b-0 { margin-bottom: 0; }
.m-l-0 { margin-left: 0; }
.m-t-b-15 { margin: 15px 0; }
.m-l-r-15 { margin: 0 15px; }

.m-20 { margin: 20px; }
.m-t-20 { margin-top: 20px; }
.m-r-20 { margin-right: 20px; }
.m-b-20 { margin-bottom: 20px; }
.m-t-b-20 { margin: 20px 0; }
.m-l-r-20 { margin: 0 20px; }

.m-30 { margin: 30px; }
.m-t-30 { margin-top: 30px; }
.m-r-30 { margin-right: 30px; }
.m-b-30 { margin-bottom: 30px; }
.m-t-b-30 { margin: 30px 0; }
.m-l-r-30 { margin: 0 30px; }

.p-0 { padding: 0; }
.p-15 { padding: 15px; }
.p-t-15 { padding-top: 15px; }
.p-r-15 { padding-right: 15px; }
.p-b-15 { padding-bottom: 15px; }
.p-l-15 { padding-left: 15px; }
.p-t-0 { padding-top: 0; }
.p-r-0 { padding-right: 0; }
.p-b-0 { padding-bottom: 0; }
.p-l-0 { padding-left: 0; }
.p-t-b-15 { padding: 15px 0; }
.p-l-r-15 { padding: 0 15px; }

.p-20 { padding: 20px; }
.p-t-20 { padding-top: 20px; }
.p-r-20 { padding-right: 20px; }
.p-b-20 { padding-bottom: 20px; }
.p-l-20 { padding-left: 20px; }
.p-t-b-20 { padding: 20px 0; }
.p-l-r-20 { padding: 0 20px; }

.p-30 { padding: 30px; }
.p-t-30 { padding-top: 30px; }
.p-r-30 { padding-right: 30px; }
.p-b-30 { padding-bottom: 30px; }
.p-l-30 { padding-left: 30px; }
.p-t-b-30 { padding: 30px 0; }
.p-l-r-30 { padding: 0 30px; }

.text-uppercase { text-transform: $text-uppercase; }
.text-lowercase { text-transform: $text-lowercase; }
.text-capitalize { text-transform: $text-capitalize; }
.text-italic { text-transform: $text-italic; }

.text-left { text-align: $text-left; }
.text-center { text-align: $text-center; }
.text-right { text-align: $text-right; }

.container,
.layout-fill { height: 100%; }

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.font-mayflower { color: #dee400; }
.font-aegius { color: #446bca; }
.font-mars { color: #fa6700; }
.font-shadey { color: #333; }
.font-dark { color: #1f1f21; }

.close-btn {
  font-size: 30px;
  color: #c1c1c1;
  cursor: pointer;
  border: 2px dashed transparent;
  @include transition(all .3s ease-in-out);
  @include border-radius(50%);

  &:hover {
    border-color: #c1c1c1;
  }
}

.hide-element {
  height: 0;
  visibility: hidden;
}

.container {
  @include respond-to(lg) { width: 59em; }
  @include respond-to(tablet-screens) { width: 45em; }
  @include respond-to(xs) { width: 25em; }
  @include respond-to(vw375) { width: 23.4em; }
  @include respond-to(vw360) { width: 22.5em; }
  @include respond-to(xxs) { width: 19.9em; }
}

.hidden-375 {
  @include respond-to(vw375) { display: none; }
}
.hidden-360 {
  @include respond-to(vw360) { display: none; }
}
.hidden-320 {
  @include respond-to(xxs) { display: none; }
}


