@import 'mixins/transition-animation';
@import 'mixins/box-shadow';
@import 'mixins/transform';
@import 'mixins/opacity';
@import 'mixins/border-radius';
@import 'mixins/input-placeholder';
@import 'mixins/media-query';

$contact-aegius: #446bca;

.contact-wrap {
  position: fixed;
  z-index: 16;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  padding: 70px 50px;
  padding-top: 40px;
  background-color: #2a2a2a;
  @include boxShadow($boxShadowTwo);
  @include translatex(100%);
  @include transition(all .5s ease-in-out);
  overflow-y: auto;

  &.is-shown {
    @include translatex(0);
  }

  @include respond-to(xs) {
    width: 100%;
    padding: 15px;
  }

  .contact-header {
    margin-top: 1.2em;
    font-family: $NotoSansBlack, sans-serif;
    font-size: 2.5rem;
    color: $snowhite;
    line-height: 1.3;

    @include respond-to(xs) {
      margin-top: 1.5em;
      font-size: 2rem;
    }

    span {
      color: $contact-aegius;
    }
  }

  .contact-meta-info {
    margin-bottom: 36px;
    font-family: $NotoSansMedium, sans-serif;
    font-size: .9rem;
    color: #8c8c8c;

    @include respond-to(xxs) { margin-bottom: 0; }

    a {
      font-family: $NotoSansBlack, sans-serif;
      color: $contact-aegius;
      @include transition(all .3s ease-in-out);

      &:hover {
        color: $snowhite;
      }
    }
  }

  .contact-formfield {

    .form-two {
      a,
      button {
        display: inline-block;
        width: 49%;
        margin-top: 12px;
      }

      button {
        margin-left: 6px;
        border-color: #fa6700;
        background-color: #fa6700;
        color: $snowhite;

        @include respond-to(xxs) { margin-left: 5px; }

        &:hover {
          border-color: #c55000;
          background-color: #c55000;
        }

        &.btn-disabled {
          color: #707070;
          pointer-events: none;
          cursor: default;
          border-color: #707070;
          background-color: transparent;
        }
      }

      a {
        &:hover {
          background-color: #446bca;
        }

        i {
          display: inline-block;
          width: 35px;
          height: 25px;
          margin-right: -15px;
          line-height: 1.7;

          @include respond-to(xxs) {
            width: 15px;
            height: 21px;
            margin-right: -2px;
            line-height: 1.5;
          }
        }
      }


      textarea {
        resize: vertical;

        @include respond-to(xxs) { height: 153px !important; }

        &.input-error {
          border-color: #C62828;
        }
      }
    }

    label {
      position: relative;
      display: block;

      &:before {
        position: absolute;
        content:'*';
        z-index: 1;
        top: 50%;
        left: 22px;
        width: 16px;
        height: 16px;
        @include translatey(-50%);
        font-family: $NotoSansBlack, sans-serif;
        color: #C62828;
      }

      &.active:before {
        content: '';
      }

      &.textarea-label {
        &:before { top: 16%; }

        @include respond-to(xxs) {
          &:before { top: 24%; }
        }
      }
    }

    .form-text {
      position: relative;
      width: 100%;
      margin-top: 9px;
      margin-bottom: 9px;
      padding: 20px 35px;
      color: #707070;
      border: 1px solid #313131;
      background: #313131;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      @include border-radius(2px);
      @include transition(all .2s ease-in-out);
      @include inputPlaceholder() {
        text-transform: uppercase;
      }

      @include respond-to(xxs) { height: 20px; }

      &.input-error {
        border-color: #C62828;
      }
    }

    .form-text:focus {
      background: #383838;
      border: 1px solid #383838;
      @include inputPlaceholder() {
        color: transparent;
      }
    }

    .form-text:blur {
      background: #313131;
      border: 1px solid #313131;
      @include inputPlaceholder() {
        color: #707070;
      }
    }

    .form-btn {
      display: block;
      margin-top: 18px;
      width: 100%;
      padding: 15px;
      font-family: $NotoSansBlack, sans-serif;
      font-size: 1.2rem;
      color: #446bca;
      border: 2px solid #446bca;
      background-color: transparent;
      @include transition(all .2s ease-in-out);
      @include border-radius(40px);
      @include boxShadow(none);
      outline: none;

      @include respond-to(xxs) {
        margin-top: 9px;
        padding: 10px;
        font-size: 1rem;
      }

      &:hover {
        color: $snowhite;
        background-color: #446bca;
        @include boxShadow($boxShadowFour);
      }
    }
  }
}

.contact-overlay {
  position: fixed;
  z-index: -15;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #446bca;
  @include transition(all .2s ease-in-out);
  @include opacity(0);
  cursor: pointer;

  &.is-shown {
    z-index: 15;
    @include opacity(.8);
  }
}


