@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/MaterialIcons/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("../../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2") format('woff2'),
       url("../../assets/fonts//MaterialIcons/MaterialIcons-Regular.woff") format('woff'),
       url("../../assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf") format('truetype');
}

/* noto-sans-jp-100 - latin */
@font-face {
  font-family: 'NotoSans Thin';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Thin'), local('NotoSansJapanese-Thin'),
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-500 - latin */
@font-face {
  font-family: 'NotoSans Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'),
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-300 - latin */
@font-face {
  font-family: 'NotoSans Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'),
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-regular - latin */
@font-face {
  font-family: 'NotoSans Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-700 - latin */
@font-face {
  font-family: 'NotoSans Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'),
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-900 - latin */
@font-face {
  font-family: 'NotoSans Black';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Black'), local('NotoSansJapanese-Black'),
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}

