@import "./mixins/transition-animation";
@import "./mixins/media-query";

.footer {
  color: $snowhite;
  background-color: #1f1f21;

  .footer-wrap {
    padding: 2em 0 0;

    @include respond-to(xxs) {
      margin: 0;
      padding-left: .3em;
      padding-right: .3em;
    }

    .col-xs-6 {
      @include respond-to(xxs) { padding: 0; }
    }

    @at-root .footer-meta {
      font-family: $NotoSansBlack, sans-serif;

      &.company-address {
        padding-bottom: 20px;
        font-family: $NotoSansMedium, sans-serif;
      }
    }

    .footer-meta-title {
      font-family: $NotoSansBlack, sans-serif;
    }

    a {
      margin-bottom: 15px;
      font-family: $NotoSansBlack, sans-serif;
      color: #333;
      text-decoration: none;
      @include transition(all .2s ease-in-out);

      &:hover {
        color: $snowhite;
      }
    }

  }
}
