@import './mixins/box-shadow';
@import './mixins/border-radius';
@import './mixins/transition-animation';
@import './mixins/opacity';
@import './mixins/media-query';

%button-normalizer {
  background-color: transparent;
  color: currentColor;
  border: 3px solid #f7f7f7;
  outline: none;
  box-shadow: none;
  @include border-radius(80px);
  @include transition(all .2s ease-in-out);
}

%cta-btn-hover {
  background-color: #c55000;
  border-color: #c55000;
  @include boxShadow($boxShadowFour);
}

%background-image {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.hero {
  position: relative;
  height: 100vh;
  color: $snowhite;
  z-index: 3;

  &:before,
  &:after {
    @extend %background-image;
  }

  &:before {
    background-image: url("../../assets/img/gridbg_glow.png");
  }

  &:after {
    background-image: url("../../assets/img/hero-bg.png");
    background-position: 150px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    @include opacity(.4);

    @include respond-to(ipad-pro-portrait) { background-position: -760px 80px !important; }
    @include respond-to(ipad-pro-landscape) { background-position: -120px 70px !important; }
    @include respond-to(lg) { background-position: -70px 80px; }
    @include respond-to(md) { background-position: -150px 80px; }
    @include respond-to(sm) {
      background-image: url("../../assets/img/hero-bg-768.png");
      background-position: 0 -10px;
    }
    @include respond-to(xs) { background-image: none; }
  }

  h1 {
    font-family: $NotoSansRegular, sans-serif;
    font-size: 2.3rem;
    color: currentColor;
    line-height: 2.6rem;
    letter-spacing: 3px;
    // font-size: 4.5rem;
    // line-height: 5.5rem;

    @include respond-to(md) {
      font-size: 3.3rem;
      line-height: 3.5rem;
      letter-spacing: 1px;
    }
    @include respond-to(sm) {
      font-size: 3.9rem;
      line-height: 4.5rem;
    }
    @include respond-to(xs) {
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;
    }
    @include respond-to(vw375) {
      font-size: 2.3rem;
      line-height: 2.3rem;
      text-align: center;
    }
    @include respond-to(xxs) {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }

    span {
      font-family: $NotoSansBlack, sans-serif;
      color: #333;
    }
  }

  p {
    font-family: $NotoSansMedium, sans-serif;
    font-size: 1.1rem;
    color: currentColor;
    line-height: 1.7em;

    @include respond-to(xs) { text-align: center; }
    @include respond-to(vw375) { display: none; }
    @include respond-to(xxs) {
      padding: 10px 20px;
      font-size: 1rem;
    }
  }

  .cta-btn {
    display: inline-block;
    margin: 20px 15px;
    padding: 15px 40px;
    font-family: $NotoSansBlack, sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    cursor: pointer;
    @extend %button-normalizer;

    @include respond-to(xs) {
      display: block;
      width: 60%;
      margin: 10px auto;
      padding: 20px 30px;
      text-align: center;
    }

    @include respond-to(xs) {
      padding: 10px 15px;
      font-size: 1rem;
    }

    &:hover {
      @extend %cta-btn-hover;
    }
  }

  .row {
    .col-xs-12 {
      padding-top: 80px;

      @include respond-to(xs) { padding-top: 0; }
    }
  }

  @at-root {
    .scrolldown-icon {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      width: 34px;
      height: 48px;
      margin: 0 auto;
      background-image: url('../../assets/icons/scroll-down.png');
      background-repeat: no-repeat;
      background-position: center center;
      transform: translatey(0px);
      animation: float 3s ease-in-out infinite;
      @include opacity(.0999);

      @include respond-to(xs) { bottom: 15px; }

      @at-root {
        @keyframes float {
          0% { transform: translatey(0px); }
          50% { transform: translatey(-20px); }
          100% { transform: translatey(0px); }
        }
      }
    }
  }
}
