@import "./mixins/nav-gradient";
@import "./mixins/border-radius";
@import "./mixins/opacity";
@import "./mixins/transform";
@import "./mixins/transition-animation";
@import "./mixins/box-shadow";
@import "mixins/media-query";

$defaultHorizontalLink    : 270, 120, 280, 130, #333333, #ffffff, left;
$whytHorizontalLink       : 360, 120, 370, 140, #333db6, #333333, right;

$defaultDiagonalLink      : -50, 300, 155, -370, #333333, #ffffff, left, 32;
$whyDiagonalLink          : 100, 780, -83, 735, #333db6, #333333, left, 32;
$whyHorizontalLink        : 367, 297, -142, -211, #333db6, #333333, left, 90;
$getstartedHorizontalLink : 415, 105, 425, 120, #fa6700, #646262, left;

$why-offshore-image       : why-offshore, -220, 135, 65%, 1;
$why-the-ph-image         : why-the-ph, 320, 180, 75%, .6;

$section-cta-btn-mars    : #fa6700, #fa6700;
$section-cta-btn-aegius  : #333db6, #333db6;

$arrowPrevArgs           : left, 20;
$arrowNextArgs           : right, 30;
$translateRotate         : translateX(100px) rotate(0deg);
$translateRotateActive   : translateX(0) rotate(90deg);

@mixin section-cta-btn($btn-color, $border-color) {
  color: $btn-color;
  border-color: $border-color;
}

@mixin section-cta-btn-hover($btn-color) {
  color: $snowhite;
  background-color: $btn-color;
  border-color: $btn-color;
  @include boxShadow($boxShadowThree);
}

@mixin section-title($section-title-color, $section-span-color) {
  .section-title {
    @extend %section-title-placeholder;
    color: $section-title-color;

    @include respond-to(xs) { text-align: center; }

    span {
      @extend %section-title-span;
      color: $section-span-color;
    }
  }
}

@mixin section-meta($color-meta-number, $color-meta-info) {
  .section-meta-number {
    @extend %section-meta-number-placeholder;
    color: $color-meta-number;

    @include respond-to(xs) { text-align: center; }
  }

  .section-meta-info {
    @extend %why-section-meta-info;

    @include respond-to(xs) { text-align: center; }
    @include respond-to(vw375) { padding: .5em; }

    span {
      @extend %noto-sans-black;
      color: $color-meta-info;
    }
  }
}

@mixin link($before-bottom, $before-position, $after-bottom, $after-position, $before-bg-color, $after-bg-color, $position, $rotate: false) {
  &:before,
  &:after {
    @extend %section-before-after;
  }

  &:before {
    bottom: $before-bottom + px;
    #{$position}: $before-position + px;
    background-color: $before-bg-color;
    @extend %before-link;
  }

  &:after {
    bottom: $after-bottom + px;
    #{$position}: $after-position + px;
    @extend %after-link;
    background-image: linear-gradient(to right, transparent 50%, $after-bg-color 0%);
    @if $rotate == false {
      @include rotate(null);
    }
    @else {
      @include rotate($rotate);
    }
  }
}

@mixin header-element-bg($image-name, $x-position, $y-position, $size, $opacity) {
  @extend %header-element-before;
  background-image: url("../../assets/img/#{$image-name}.png");
  background-position: $x-position + px $y-position + px;
  background-size: $size;
  @include opacity($opacity);
}

@mixin arrow-nav($position, $val) {
  @extend %nav-element;
  #{$position}: $val + px;
}

%before-link {
  width: 20px;
  height: 20px;
  @include border-radius(50%);
}

%after-link {
  width: calc(100% + 729px);
  height: 1px;
  @include opacity(.3);
  background-size: 30px 100%;
}

%section-before-after {
  position: absolute;
  content: " ";
  z-index: 1;
  overflow: hidden;
}

%desaturate {
  -webkit-filter: sepia(1) grayscale(100%);
  filter: sepia(1) grayscale(100%);
}

%why-section-meta-info {
  margin-top: 4em;
  font-family: $NotoSansMedium, sans-serif;
  font-size: 1.8rem;
  color: rgba(51,51,51,.8);
  line-height: 1.6;

  @include respond-to(lg) {font-size: 1.4rem; }
  @include respond-to(xs) {font-size: 1rem; }
}

%noto-sans-black {
  font-family: $NotoSansBlack, sans-serif;
}

%section-title-placeholder {
  font-family: $NotoSansThin, sans-serif;
  font-size: 5.5rem;
  line-height: 1;

  @include respond-to(lg) { font-size: 4.7rem; }
  @include respond-to(xs) { font-size: 2.8rem; }
}

%section-title-span {
  font-family: $NotoSansBlack, sans-serif;
  letter-spacing: -2px;
}

%section-meta-number-placeholder {
  font-family: $NotoSansMedium, sans-serif;
  font-size: 1.5rem;
}

%why-header-element {
  position: relative;
  margin-bottom: 2em;

  &:before {
    @extend %section-before-after;
  }
}

%header-element-before {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

%nav-element {
  position: absolute;
  z-index: 3;
  top: 50%;
  @include translatey(-50%);
  border: none;
  outline: none;
  background-color: transparent;
  @include opacity(.6);
}

%nav-element-dimension {
  width: 57px;
  height: 202px;
}

.scroll-to-top {
  display: flex;
  position: fixed;
  z-index: 11;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: rgba(51,51,51,51.8);
  align-items: center;
  justify-content: center;
  @include boxShadow($boxShadowThree);
  @include opacity(.6);
  @include border-radius(50%);
  @include transition(all .3s ease-out);
  @include transform-translate-rotate($translateRotate);

  &.is-shown {
    @include transform-translate-rotate($translateRotateActive);
    @include opacity(1);

    &:hover {
      @include boxShadow($boxShadowFive);
    }
  }
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @at-root.slick-prev {
    @extend %nav-element;
    @include arrow-nav($arrowPrevArgs...);
    @extend %nav-element-dimension;

    @include respond-to(sm) {
      left: 10px;
      width: 27px;
      height: 162px;
      padding: 0;
    }

    .prev {
      display: block;
      width: 57px;
      height: 202px;
      background: transparent url("../../assets/icons/testimonial-prev.png") no-repeat center center;

      @include respond-to(sm) {
        width: 27px;
        height: 162px;
        background-size: contain;
      }
    }
  }

  @at-root.slick-next {
    @extend %nav-element;
    @include arrow-nav($arrowNextArgs...);
    @extend %nav-element-dimension;

    @include respond-to(sm) {
      right: 15px;
      width: 27px;
      height: 162px;
      padding: 0;
    }

    .next {
      display: block;
      width: 57px;
      height: 202px;
      background: transparent url("../../assets/icons/testimonial-next.png") no-repeat center center;

      @include respond-to(sm) {
        width: 27px;
        height: 162px;
        background-size: contain;
      }
    }
  }
}

.slick-dots {
  display: block;
  position: absolute;
  top: 50%;
  right: 35px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  @include translatey(-50%);
}

.slick-dots,
.slick-dots li,
.slick-dots li button,
.slick-dots li.slick-active { cursor: pointer; }

.slick-dots li { margin: 20px 5px; }

.slick-dots li button {
  position: relative;
  width: 20px;
  height: 20px;
  outline: none;
  border: 2px solid #dee400;
  background-color: transparent;
  @include border-radius(50%);
}

.slick-dots li button:before {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  @include border-radius(50%);
  @include transition(all .3s ease-in-out);
}

.slick-dots li.slick-active button:before {
  cursor: default;
  background-color: #dee400;
}

.slick-dots li button:hover:before {
  background-color: #dee400;
}

.section-aegius { @include navGradient($gradientAegiusProps...); }
.section-mars { @include navGradient($gradientMarsProps...); }
.section-shadey { @include navGradient($gradientShadeyProps...); }
.section-mayflower { @include navGradient($gradientMayflowerProps...); }

.section-cta {
  display: inline-block;
  padding: 15px 60px;
  font-family: $NotoSansBlack, sans-serif;
  font-size: 1.2rem;
  color: $snowhite;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid $snowhite;
  outline: none;
  @include transition(all .2s ease-in-out);
  @include boxShadow(none);
  @include border-radius(40px);

  @include respond-to(xs) {
    display: inline-block;
    margin: 0 auto;
    float: none;
  }

  &.section-cta-mars {
    @include section-cta-btn($section-cta-btn-mars...);

    &:hover {
      @include section-cta-btn-hover(#fa6700);
    }
  }

  &.section-cta-aegius {
    position: relative;
    z-index: 1;
    @include section-cta-btn($section-cta-btn-aegius...);

    &:hover {
      @include section-cta-btn-hover(#333db6);
    }
  }
}

.partners {
  ul li { display: inline-block; }
}

.why-offshore .container {
  @at-root {
    .why-offshore .container {
      &:first-of-type {
        margin-bottom: 8em;
      }

      .why-features {
        @include respond-to(lg) {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }

        @include respond-to(md) {
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    }
  }

  .sub-header {
    position: relative;
    font-family: $NotoSansMedium, sans-serif;
    font-size: 1.6rem;
    color: #333;

    @include respond-to(md) {
      font-size: 2rem;
      line-height: 1.1;
    }

    @include respond-to(xs) {
      font-size: 1.5rem;
      padding-left: 12px;
      padding-right: 12px;
      text-align: center;
    }

    &:before {
      @extend %section-before-after;
      bottom: 0;
      width: 50px;
      height: 2px;
      background-color: $snowhite;

      @include respond-to(xs) {
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  .sub-meta-info {
    margin-bottom: 50px;
    line-height: 1.6;

    @include respond-to(xs) {
      padding-left: 12px;
      padding-right: 12px;
      text-align: center;
    }
  }
}

.section-wrap {
  position: relative;
  color: $snowhite;
  overflow: hidden;

  &.why-offshore  {
    &:before,
    &:after {
      @extend %section-before-after;
    }

    &:before {
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: url('../../assets/img/gridbg_glow.png');
      @include opacity(.4);
      @extend %desaturate;
    }

    &:after {
      z-index: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: url('../../assets/img/gridbg_glow.png');
      @include opacity(.4);
      @extend %desaturate;
      @include rotate(180);
    }

    .diagonal-link {
      position: absolute;
      @include link($defaultDiagonalLink...);

      @include respond-to(xxs) {
        &:before { left: 170px; }
        &:after { left: -500px; }
      }
    }
  }

  &.why-the-ph  {
    .fact-list-holder {
      margin-top: 14em;

      @include respond-to(lg) { margin-top: 4em; }

      .fact-list {
        position: relative;

        &:not(:last-child) {
          @include link($whyHorizontalLink...);

          @include respond-to(lg) {
            &:before {
              bottom: 327px;
              left: 226px;
            }

            &:after {
              bottom: -142px;
              left: -251px;
            }
          }
          @include respond-to(md) {
            &:before { left: 231px; }
            &:after { left: -244px; }
          }
          @include respond-to(sm) {
            &:before {
              left: 171px;
              bottom: 218px;
            }
            &:after {
              left: -275px;
              bottom: -225px;
            }
          }
        }

        &:nth-child(odd) {
          @include respond-to(xs) {
            &:before { left: 202px; }
            &:after { left: -257px; }
          }
          @include respond-to(vw375) {
            &:before { left: 195px; }
          }
          @include respond-to(vw360) {
            &:before { left: 192px; }
          }
          @include respond-to(xxs) {
            &:before {
              left: 162px;
              bottom: 200px;
            }

            &:after { left: -277px; }
          }
        }

        &:nth-child(2), &:last-child {
          @include respond-to(xs) {
            &:before, &:after { display: none; }
          }
        }

        &:nth-child(3) {
          @include respond-to(xs) {
            &:after { display: none; }
          }
        }

        .fact-list-meta {
          padding: 3em 12px;
          font-family: $NotoSansLight, sans-serif;
          font-size: 1.8rem;
          line-height: 1.7;
          color: #737171;

          @include respond-to(lg) { font-size: 1.6rem; }
          @include respond-to(sm) { font-size: 1.1rem; }
          @include respond-to(xxs) { font-size: 1rem; }
        }
      }
    }

    .diagonal-link {
      position: absolute;
      @include link($whyDiagonalLink...);

      @include respond-to(sm) {
        &:before { left: 550px; }
        &:after { left: 505px; }
      }
    }
  }

  &.getting-started {
    padding-bottom: 8em;

    .mobile-steps {
      display: none;

      @include respond-to(xs) {
        display: block;
        margin-top: 2em;
        font-family: $NotoSansMedium;
        font-size: 1.2rem;

        .steps {
          padding: 12px;
          @include boxShadow(0 9px 10px 1px rgba(31,31,31,.4));

          .step-mobile-number {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 auto;
            @include border-radius(50%);
            background-color: #1f1f21;
            font-size: 1rem;
            color: $snowhite;
            line-height: 30px;
          }

          .line-breaker { display: none; }
        }
      }
    }

    .steps-panel {
      @include respond-to(sm) {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
        max-width: 30%;
      }
      @include respond-to(xs) { display: none; }
    }

    .header-panel {
      @include respond-to(sm) {
        -ms-flex-preferred-size: 66%;
        flex-basis: 66%;
        max-width: 66%;
        margin-left: 4%;
      }
      @include respond-to(xs) {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        margin-left: 0;
      }
    }

    @at-root .steps-holder {
      position: relative;
      padding-top: 9em;

      @include respond-to(md) { padding-top: 6.7em; }

      &:before {
        position: absolute;
        content: '';
        bottom: 275px;
        left: -240px;
        width: calc(100% + 39px);
        height: 1px;
        @include opacity(.3);
        background-size: 30px 100%;
        background-image: linear-gradient(to right, transparent 50%, #646262 0%);
        @include rotate(90);

        @include respond-to(lg) {
          bottom: 246px;
          left: -200px;
          width: calc(100% + 66px);
        }
        @include respond-to(md) {
          bottom: 200px;
          left: -202px;
        }
      }

      .step {
        position: relative;

        &:before {
          position: absolute;
          content: '';
          top: 65px;
          left: 77px;
          @extend %before-link;
          background-color: #fa6700;

          @include respond-to(lg) {
            bottom: 57px;
            left: 67px;
          }
          @include respond-to(md) {
            top: 27px;
            left: 61px;
          }
        }

        .step-number {
          font-family: $NotoSansLight, sans-serif;
          font-size: 5.5rem;
          color: rgba(132,132,133,.15);

          @include respond-to(md) { font-size: 3rem; }
        }

        .step-meta-info {
          padding-top: 1.7em;
          font-family: $NotoSansMedium, sans-serif;
          font-size: 1.8rem;
          line-height: 1.7;
          color: #1f1f21;

          @include respond-to(lg) { font-size: 1.6rem; }
          @include respond-to(md) {
            padding-top: 15px;
            padding-left: 50px;
            font-size: 1.5rem;
          }
          @include respond-to(sm) { font-size: .7rem; }
        }
      }
    }
  }

  &.section-testimonial {
    padding-bottom: 6em;
    background-color: #f7f7f7;

    @at-root {
      .section-small-title {
        position: relative;
        padding-bottom: .8em;
        margin-top: 3em;
        font-family: $NotoSansMedium, sans-serif;
        color: rgba(51,51,51,.8);

        @include respond-to(xxs) { font-size: 1.7em; }

        &:before {
          position: absolute;
          content: '';
          bottom: 0;
          left: 90px;
          width: 50px;
          height: 6px;
          background-color: rgba(51,51,51,.8);

          @include respond-to(xxs) { left: 78px; }
        }

        &.small-title-team {
          @include respond-to(xs) { margin-left: 14px; }
          @include respond-to(vw360) { margin-left: 9px; }
        }

        &.small-title-snowhite {
          color: $snowhite;

          &:before {
            background-color: $snowhite;
          }
        }
      }
    }

    @at-root .testimonial-list {
      @include respond-to(xs) { display: none; }
    }

    @at-root .testimonial-list-mobile {
      display: none;
      padding: 15px;

      @include respond-to(xs) {
        display: block;
      }
    }

    .testimonial {
      .testimonial-content {
        padding: 0 8.8em;
        font-family: $NotoSansRegular, sans-serif;
        color: #333;
        line-height: 2;

        @include respond-to(sm) {
          padding-left: 3em;
          padding-right: 3em;
        }
        @include respond-to(xs) {
          padding-left: .5em;
          padding-right: .5em;
          text-align: justify;
        }
      }

      .testimonial-author {
        font-family: $NotoSansBlack, sans-serif;
        font-size: 1.1rem;
        color: #1f1f21;
      }
    }
  }

  &.the-team {

    .team-list {

      .team-btn-holder {
        padding-left: 88px;
        padding-top: 1rem;

        @include respond-to(lg) { margin-bottom: -22px; }
        @include respond-to(sm) { display: none; }

        .team-btn {
          display: inline-block;
          width: 9em;
          padding: 10px 20px;
          font-family: $NotoSansBlack, sans-serif;
          font-size: 1.2rem;
          color: $snowhite;
          text-decoration: none;
          text-align: $text-center;
          border: 2px solid $snowhite;
          background-color: transparent;
          @include border-radius(40px);
          @include transition(all .3s ease-in-out);
          box-shadow: none;
          outline: none;

          @include respond-to(lg) { width: 8em; }

          &:not(:first-child) {
            margin-left: 15px;
          }

          &:hover {
            border-color: #fa6700;
            background-color: #fa6700;
            @include boxShadow($boxShadowThree);
            cursor: pointer;
          }
        }
      }

      @at-root .team-desc {
        padding-top: 30px;
        padding-bottom: 4em;
        padding-left: 30px;

        @include respond-to(lg) { padding-left: 42px; }
        @include respond-to(sm) { padding-left: 34px; }
        @include respond-to(xs) { padding: 0; }
      }

      .team-meta-mobile {
        display: none;

        @include respond-to(xs) {
          display: block;

          .meta-info {
            position: relative;
            width: 100%;
            height: 300px;
            background-position: center center;
            background-size: cover;
          }

         @include respond-to(xxs) {
          .meta-info { height: 200px; }
         }
        }

        .team-mobile-overlay {
          position: fixed;
          z-index: 16;
          top: 0;
          right: 0;
          width: 100%;
          height: 100vh;
          padding: 15px;
          background-color: #2a2a2a;
          @include translatex(100%);
          @include transition(all .3s ease-in-out);
          overflow-y: auto;

          &.is-shown {
            @include translatex(0);
          }

          .team-meta-profile {
            .profile-name {
              margin-bottom: 0;
              font-family: $NotoSansBlack;
              font-size: 2rem;
              line-height: 1;

              @include respond-to(xxs) {
                font-size: 1.7rem;
                line-height: .3;
              }
            }

            .profile-title {
              font-family: $NotoSansBold;
              font-size: 1.2rem;
              line-height: 2.5;
            }

            .profile-desc {
              font-family: $NotoSansMedium;
              font-size: 1rem;
              line-height: 1.8;
              text-align: justify;

              @include respond-to(xxs) { text-align: left; }
            }
          }
        }
      }

      .team-desc-meta {
        padding-left: 88px;

        @include respond-to(xs) { display: none; }

        .team-name {
          font-family: $NotoSansBlack, sans-serif;
          font-size: 3rem;

          @include respond-to(lg) { font-size: 2.9rem; }
          @include respond-to(md) { font-size: 2.5rem; }
          @include respond-to(sm) { font-size: 2rem; }
        }

        .team-title {
          font-family: $NotoSansBlack, sans-serif;
          font-size: 2rem;
          line-height: .5;

          @include respond-to(sm) { font-size: 1.5rem; }
        }

        .team-profile {
          min-height: 172px;
          font-family: $NotoSansMedium, sans-serif;
          line-height: 1.8;

          @include respond-to(lg) { min-height: 196px; }
          @include respond-to(sm) { margin: 0; }
        }
      }

      .team-img-holder {
        position: relative;
        min-height: 653px;

        @include respond-to(xs) { display: none; }

        .team-img {
          width: 427px;
          height: 653px !important;
          background-repeat: no-repeat;
          -webkit-clip-path: polygon(24% 0, 100% 0%, 100% 100%, 6% 100%);
          clip-path: polygon(24% 0, 100% 0%, 100% 100%, 6% 100%);

          @include respond-to(sm) { background-position: -70px; }
        }
      }
    }
  }

  .container {

    @at-root {
      .why-offshore {
        header {
          @extend %why-header-element;
          &:before {
            @include header-element-bg($why-offshore-image...);
            @include respond-to(sm) {
              z-index: 0;
              background-image: url('../../assets/img/why-offshore-768.png');
              background-size: 65%;
              background-position: -60px 175px;
              @include opacity(.6);
            }
            @include respond-to(xs) { background-image: none; }
          }

          .col-sm-offset-6 {
            @include respond-to(sm) { margin-left: 37%; }
          }

          .col-xs-12 {
            @include respond-to(xs) { margin-left: 0; }
          }
        }
      }

      .why-the-ph {
        header {
          @extend %why-header-element;

          &:before {
            @extend %header-element-before;
            @include header-element-bg($why-the-ph-image...);
            @include respond-to(sm) {
              z-index: 0;
              background-image: url('../../assets/img/why-the-ph-768.png');
              background-position: 280px 180px;
              background-size: 60%;
              @include opacity(.3);
            }
            @include respond-to(xs) { background-image: none; }
          }

          .col-sm-6 {
            @include respond-to(sm) {
              -ms-flex-preferred-size: 66%;
              flex-basis: 66%;
              max-width: 66%;
            }
          }

          .col-xs-12 {
            @include respond-to(xs) {
             -ms-flex-preferred-size: 100%;
             flex-basis: 100%;
             max-width: 100%;
           }

           .line-breaker {
            @include respond-to(xs) { display: none; }
          }
        }
      }
    }
  }


  @at-root {
    .section-header {
      position: relative;
      padding-top: 80px;

      .why-offshore & {
        @include link($defaultHorizontalLink...);
        @include section-title(currentColor, #333);
        @include section-meta($snowhite, $snowhite);

        @include respond-to(lg) {
          &:before { bottom: 212px; }
          &:after { bottom: 221px; }
        }
        @include respond-to(xs) {
          &:before { bottom: 145px; }
          &:after { bottom: 155px; }
        }

      }

      .why-the-ph & {
        @include link($whytHorizontalLink...);
        @include section-title(#333, #333db6);
        @include section-meta(#333, #333db6);

        @include respond-to(lg) {
          &:before { bottom: 270px; }
          &:after { bottom: 280px; }
        }
        @include respond-to(xs) {
          &:before { bottom: 250px; }
          &:after { bottom: 260px; }
        }
        @include respond-to(vw360) {
          &:before { bottom: 280px; }
          &:after { bottom: 290px; }
        }
      }

      .getting-started & {
        @include link($getstartedHorizontalLink...);
        @include section-title(#646262, #333);
        @include section-meta(#646262, rgba(31,31,33,.8));

        @include respond-to(lg) {
          &:before { bottom: 325px; }
          &:after { bottom: 333px; }
        }
        @include respond-to(xs) {
          &:before { bottom: 250px; }
          &:after { bottom: 259px; }
        }
      }
    }
  }
}
}
