@import 'mixins/media-query';

$f-18              : 18px;
$f-24              : 24px;
$f-25              : 25px;
$f-36              : 36px;
$f-48              : 48px;
$md-dark           : rgba(0, 0, 0, 0.54);
$md-dark-inactive  : rgba(0, 0, 0, 0.26);
$md-light          : rgba(255, 255, 255, 1);
$md-light-inactive : rgba(255, 255, 255, 0.3);

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  /*Sizing the icon. */
  &.md-18 { font-size: $f-18; }
  &.md-24 { font-size: $f-24; }
  &.md-25 { font-size: $f-25; }
  &.md-36 { font-size: $f-36; }
  &.md-48 { font-size: $f-48; }

  &.md-25 {
    @include respond-to(lg) { font-size: 17px; }
    @include respond-to(sm) { font-size: 21px; }
    @include respond-to(xs) { font-size: 27px; }
  }

  &.md-dark {
    color: $md-dark;

    &.md-inactive { color: $md-dark-inactive; }
  }

  &.md-light {
    color: $md-light;

    &.md-inactive { color: $md-light-inactive; }
  }
}
