@import "./mixins/nav-gradient";
@import "./mixins/box-shadow";
@import "./mixins/opacity";
@import "./mixins/transition-animation";
@import "./mixins/media-query";

$text-gradient-aegius   : #446bca, #3136b3;
$text-gradient-mars     : #fa6700, #c55000;
$text-gradient-shadey   : #d0d0d0, #efefef;
$text-gradient-mayflower: #f2f900, #dee400;

@mixin text-gradient($left-gradient, $right-gradient) {
  background: -webkit-gradient(linear,left top,right top,from($left-gradient),to($right-gradient));
  background: linear-gradient(to right,$left-gradient,$right-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%nav-style {
  @include opacity(1);
}

%nav-style-hovered {
  @include opacity(.6);
  @include transition(all .3s ease-in-out);
}

%main-menu-style {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.main-menu {
  position: fixed;
  background-color: transparent;
  z-index: -2;
  @extend %main-menu-style;
  @include transition(all .2s ease-in-out);
  @include opacity(0);
  overflow-y: auto;

  @include respond-to(vw375) { padding: 15px; }

  img {
    width: 200px;

    @include respond-to(xs) { width: 150px; }
  }

  .container {
    @include respond-to(xs) { width: 22.5em; }
    @include respond-to(vw375) { width: 20.3em; }
    @include respond-to(xxs) { width: 18.1em; }
  }

  .list-unstyled {
    @include respond-to(xs) { padding-right: 0; }
    @include respond-to(xxs) { padding-top: 10px; }
  }

  &.is-shown {
    z-index: 12;
    background-color: #2a2a2a;
    @include opacity(1);
  }

  .contact-info {
    position: fixed;
    z-index: 13;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-family: $NotoSansMedium, sans-serif;
    font-size: .9rem;
    color: $snowhite;

    @include respond-to(xxs) { font-size: .8rem; }

    a {
      font-family: $NotoSansBlack, sans-serif;
      text-decoration: none;
      @include transition(all .3s ease-in-out);

      &:hover {
        color: #333;
      }
    }
  }

  .menu-meta-number {
    font-family: $NotoSansMedium, sans-serif;
    font-size: 1.9rem;
    color: #707070;

    @include respond-to(lg) { font-size: 1.5rem; }
    @include respond-to(md) { font-size: 1rem; }
    @include respond-to(xs) { display: none; }
  }

  .menu-meta-intro {
    font-family: $NotoSansMedium, sans-serif;
    font-size: .9rem;
    color: $snowhite;

    @include respond-to(lg) { font-size: 17px; }
    @include respond-to(xs) { display: none; }
  }

  .menu-meta-title {
    position: relative;
    font-family: $NotoSansBlack, sans-serif;
    font-size: 1.8rem;
    color: #707070;
    line-height: 1.6;

    @include respond-to(lg) {
      font-size: 1.3rem;
      line-height: 1.8;
    }
    @include respond-to(md) {
      padding-bottom: 8px;
      font-size: 1.1rem;
      line-height: 1.4;
    }
    @include respond-to(sm) { font-size: 1.3rem; }
    @include respond-to(xs) { text-align: center; }
    @include respond-to(xxs) {
      margin-bottom: 0;
      font-size: 1rem;
    }

    @at-root .menu-meta-list {
      @include respond-to(xs) {
        display: block;
        width: 100%;
      }

      .list-container {
        margin-bottom: 1em;

        @include respond-to(md) { margin-bottom: 1em; }
        @include respond-to(xxs) { margin-bottom: .8em; }
      }

      a {
        &:hover {
          .meta-title-mars,
          .meta-intro-mars {
            @include text-gradient($text-gradient-mars...);
          }
        }

        &:hover {
          .meta-title-aegius,
          .meta-intro-aegius {
            @include text-gradient($text-gradient-aegius...);
          }
        }

        &:hover {
          .meta-title-shadey,
          .meta-intro-shadey {
            @include text-gradient($text-gradient-shadey...);
          }
        }

        &:hover {
          .meta-title-mayflower,
          .meta-intro-mayflower {
            @include text-gradient($text-gradient-mayflower...);
          }
        }
      }
    }

    &:before {
      position: absolute;
      content: '';
      bottom: 0;
      width: 70px;
      height: 4px;
      background-color: #707070;

      @include respond-to(xs) {
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 2px;
      }
    }
  }

  .about-menu {
    @include respond-to(xs) { padding: 0; }

    .menu-meta-title {
      font-size: 3rem;
      color: $snowhite;
      line-height: 1.2;

      @include respond-to(sm) { font-size: 2rem; }
      @include respond-to(vw360) { font-size: 1rem; }
      @include respond-to(xxs) {
        margin-bottom: 8px;
        font-size: 1rem;
      }

      &:before {
        background-color: $snowhite;
      }
    }
  }

  @at-root .about-menu-nav {
    @include respond-to(xs) { text-align: center; }
  }

  .about-menu-nav li {

    &:first-child {
      a {
        &:hover {
          color: #446bca;
        }
      }
    }

    &:nth-child(2) {
      a {
        &:hover {
          color: #fa6700;
        }
      }
    }

    &:last-child {
      a {
        &:hover {
          color: #f2f900;
        }
      }
    }

    a {
      padding-bottom: 1.2em;
      font-family: $NotoSansMedium, sans-serif;
      font-size: 2.5rem;
      text-decoration: none;
      color: #707070;
      @include transition(all .3s ease-in-out);

      @include respond-to(lg) { font-size: 2.2rem; }
      @include respond-to(sm) { font-size: 1.5rem; }
      @include respond-to(vw360) { font-size: 1.3rem; }
      @include respond-to(xxs) { font-size: 1rem; }
    }
  }
}

.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #f7f7f7;
  @include boxShadow($boxShadowFive);
  z-index: 10;

  &.navbar-aegius { @include navGradient($gradientAegiusProps...); }
  &.navbar-shadey { @include navGradient($gradientShadeyProps...); }
  &.navbar-mayflower { @include navGradient($gradientMayflowerProps...); }
  &.navbar-mars { @include navGradient($gradientMarsProps...); }

  @at-root .navbar-brand {
    @include respond-to(xs) { padding: 6px; }

    img {
      width: 200px;

      @include respond-to(xs) { width: 150px; }
    }
  }

  .nav li {
    display: inline-block;
    padding: 12px;
    color: $snowhite;
    font-size: 16px;
    font-family: $NotoSansBlack, sans-serif;

    @include respond-to(lg) { font-size: 11px; }
    @include respond-to(sm) {
      display: inline-block !important;
      visibility: visible !important;
      font-size: 13px;
    }

    &:not(:last-child) {
      @include respond-to(xs) {
        display: none !important;
        padding: 6px;
      }
    }

    a {
      text-decoration: none;
      color: currentColor;
    }
  }

  @at-root &.navbar-aegius {
    .scrolling-nav li  {
      color: #fff !important;
      %nav-style {
        @include opacity(1);
      }
    }
  }

  @at-root {
    &.navbar-shadey,
    &.navbar-mayflower, {
      .main-nav {
        li, a { color: #333333ab !important; }

        .material-icons {
          color: #333333ab !important;
        }
      }
    }
  }

  @at-root .scrolling-nav {
    @include respond-to(sm) { display: none; }
  }

  .scrolling-nav li  {
    color: #333333ab !important;
    %nav-style {
      @include opacity(1);
    }

    &.active a {
      color: #1f1f21;
      cursor: default;
      pointer-events: none;
    }

    a {
      @include transition(all .3s ease-in-out);

      &:hover {
        color: #1f1f21;
        %nav-style-hovered {
          @include opacity(.6);
        }
      }
    }
  }

  .main-nav li {

    &:last-child {
     > i { padding-left: 10px; }

     .menu-label {
      @include respond-to(sm) { opacity: 1 !important; }
      @include respond-to(xs) { font-size: 1rem; }
    }
  }

  &:first-child, &:nth-child(2), &:last-child {
    @extend %nav-style;

    &:hover {
      @extend %nav-style-hovered;
    }
  }

  &:hover {
    &:not(:nth-child(3)) {
      cursor: pointer;
    }
  }
}
}
