@mixin animation ($delay, $duration, $animation, $forwards: forwards, $iteration: inherit) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $forwards;
    -webkit-animation-iteration-count: $iteration;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $forwards;
    -moz-animation-iteration-count: $iteration;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: $forwards;
    -o-animation-iteration-count: $iteration;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $forwards;
    animation-iteration-count: $iteration;
}
