$break-xxs              : 320px;
$break-360              : 360px;
$break-375              : 375px;
$break-xs               : 414px;
$break-sm               : 768px;
$break-md               : 992px;
$break-lg               : 1024px;

@mixin respond-to($media) {
  @if $media == xxs {
    @media only screen and (max-width: $break-xxs) {
      @content;
    }
  }
  @else if $media == vw360 {
    @media only screen and (max-width: $break-360) {
      @content;
    }
  }
  @else if $media == vw375 {
    @media only screen and (max-width: $break-375) {
      @content;
    }
  }
  @else if $media == xs {
    @media only screen and (max-width: $break-xs) {
      @content;
    }
  }
  @else if $media == sm {
    @media only screen and (max-width: $break-sm) {
      @content;
    }
  }
  @else if $media == md {
    @media only screen and (max-width: $break-md) {
      @content;
    }
  }
  @else if $media == lg {
    @media only screen and (max-width: $break-lg) {
      @content;
    }
  }
  @else if $media == tablet-screens {
    @media only screen and (min-width: $break-sm) and (max-width: $break-md - 1) {
      @content;
    }
  }
  @else if $media == ipad-pro-portrait {
    @media only screen and (width: 1024px) and (height: 1366px) {
      @content;
    }
  }
  @else if $media == ipad-pro-landscape {
    @media only screen and (width: 1366px) and (height: 1024px) {
      @content;
    }
  }
}
