@mixin navGradient($degree, $start-color, $end-color, $start-color-percentage, $end-color-percentage) {
  background: $start-color;
  background-image: linear-gradient($degree, $start-color $start-color-percentage,$end-color $end-color-percentage);
  background-image: -webkit-linear-gradient($degree, $start-color $start-color-percentage,$end-color $end-color-percentage);
  background-image: -moz-linear-gradient($degree, $start-color $start-color-percentage,$end-color $end-color-percentage);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=1 );
}

//$navGradientProps: 30deg, #363657, #42416b, 0%, 30%;
////@include navGradient($navGradientProps...);
