@mixin transform($transforms) {
  @if $transforms == null {
     -moz-transform: null;
       -o-transform: null;
      -ms-transform: null;
  -webkit-transform: null;
          transform: null;
  }
  @else {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
  }
}

@mixin transform-flip-rotate($args) {
  @if $args == null {
     -moz-transform: null;
       -o-transform: null;
      -ms-transform: null;
  -webkit-transform: null;
          transform: null;
  }
  @else {
     -moz-transform: #{$args};
       -o-transform: #{$args};
      -ms-transform: #{$args};
  -webkit-transform: #{$args};
          transform: #{$args};
  }
}

@mixin transform-translate-rotate($args) {
  @if $args == null {
     -moz-transform: null;
       -o-transform: null;
      -ms-transform: null;
  -webkit-transform: null;
          transform: null;
  }
  @else {
     -moz-transform: #{$args};
       -o-transform: #{$args};
      -ms-transform: #{$args};
  -webkit-transform: #{$args};
          transform: #{$args};
  }
}

// rotate
@mixin rotate ($deg) {
  @if $deg == null {
    @include transform(null);
  }
  @else {
    @include transform(rotate(#{$deg}deg));
  }
}

@mixin translatey ($axis) {
  @if $axis == null {
    @include transform(null);
  }
  @else {
    @include transform(translateY(#{$axis}));
  }
}

@mixin translatex ($axis) {
  @if $axis == null {
    @include transform(null);
  }
  @else {
    @include transform(translateX(#{$axis}));
  }
}

@mixin flipx ($axis) {
  @if $axis == null {
    @include transform(null);
  }
  @else {
    @include transform(scaleX(#{$axis}));
  }
}

@mixin rotate-flip($args) {
 @if $args == null {
    @include transform-flip-rotate(null);
  }
  @else {
    @include transform-flip-rotate(#{$args});
  }
}
