@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/MaterialIcons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2") format("woff2"), url("../../assets/fonts//MaterialIcons/MaterialIcons-Regular.woff") format("woff"), url("../../assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype");
}
/* noto-sans-jp-100 - latin */
@font-face {
  font-family: "NotoSans Thin";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans Japanese Thin"), local("NotoSansJapanese-Thin"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.woff2") format("woff2"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.woff") format("woff"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.ttf") format("truetype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-100.svg#NotoSansJP") format("svg");
  /* Legacy iOS */
}
/* noto-sans-jp-500 - latin */
@font-face {
  font-family: "NotoSans Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans Japanese Medium"), local("NotoSansJapanese-Medium"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.woff2") format("woff2"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.woff") format("woff"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.ttf") format("truetype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-500.svg#NotoSansJP") format("svg");
  /* Legacy iOS */
}
/* noto-sans-jp-300 - latin */
@font-face {
  font-family: "NotoSans Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans Japanese Light"), local("NotoSansJapanese-Light"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.woff2") format("woff2"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.woff") format("woff"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.ttf") format("truetype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-300.svg#NotoSansJP") format("svg");
  /* Legacy iOS */
}
/* noto-sans-jp-regular - latin */
@font-face {
  font-family: "NotoSans Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans Japanese Regular"), local("NotoSansJapanese-Regular"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.woff2") format("woff2"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.woff") format("woff"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.ttf") format("truetype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-regular.svg#NotoSansJP") format("svg");
  /* Legacy iOS */
}
/* noto-sans-jp-700 - latin */
@font-face {
  font-family: "NotoSans Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans Japanese Bold"), local("NotoSansJapanese-Bold"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.woff2") format("woff2"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.woff") format("woff"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.ttf") format("truetype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-700.svg#NotoSansJP") format("svg");
  /* Legacy iOS */
}
/* noto-sans-jp-900 - latin */
@font-face {
  font-family: "NotoSans Black";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Noto Sans Japanese Black"), local("NotoSansJapanese-Black"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.woff2") format("woff2"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.woff") format("woff"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.ttf") format("truetype"), url("../../assets/fonts/NotoSans/NotoSansJP/noto-sans-jp-v22-latin-900.svg#NotoSansJP") format("svg");
  /* Legacy iOS */
}
body {
  min-height: 100%;
  height: 100%;
  font: 16px -apple-system, "NotoSans Regular", BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-rendering: swap;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #333;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.overflow-none {
  overflow: hidden;
}

.hidden {
  display: none;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.m-0 {
  margin: 0;
}

.m-15 {
  margin: 15px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-t-0 {
  margin-top: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-l-0 {
  margin-left: 0;
}

.m-t-b-15 {
  margin: 15px 0;
}

.m-l-r-15 {
  margin: 0 15px;
}

.m-20 {
  margin: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-b-20 {
  margin: 20px 0;
}

.m-l-r-20 {
  margin: 0 20px;
}

.m-30 {
  margin: 30px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-b-30 {
  margin: 30px 0;
}

.m-l-r-30 {
  margin: 0 30px;
}

.p-0 {
  padding: 0;
}

.p-15 {
  padding: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-t-0 {
  padding-top: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-t-b-15 {
  padding: 15px 0;
}

.p-l-r-15 {
  padding: 0 15px;
}

.p-20 {
  padding: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-t-b-20 {
  padding: 20px 0;
}

.p-l-r-20 {
  padding: 0 20px;
}

.p-30 {
  padding: 30px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-t-b-30 {
  padding: 30px 0;
}

.p-l-r-30 {
  padding: 0 30px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-italic {
  text-transform: italic;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container,
.layout-fill {
  height: 100%;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.font-mayflower {
  color: #dee400;
}

.font-aegius {
  color: #446bca;
}

.font-mars {
  color: #fa6700;
}

.font-shadey {
  color: #333;
}

.font-dark {
  color: #1f1f21;
}

.close-btn {
  font-size: 30px;
  color: #c1c1c1;
  cursor: pointer;
  border: 2px dashed transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.close-btn:hover {
  border-color: #c1c1c1;
}

.hide-element {
  height: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 59em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 45em;
  }
}
@media only screen and (max-width: 414px) {
  .container {
    width: 25em;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    width: 23.4em;
  }
}
@media only screen and (max-width: 360px) {
  .container {
    width: 22.5em;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    width: 19.9em;
  }
}

@media only screen and (max-width: 375px) {
  .hidden-375 {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .hidden-360 {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .hidden-320 {
    display: none;
  }
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
  /*Sizing the icon. */
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-25 {
  font-size: 25px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
@media only screen and (max-width: 1024px) {
  .material-icons.md-25 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 768px) {
  .material-icons.md-25 {
    font-size: 21px;
  }
}
@media only screen and (max-width: 414px) {
  .material-icons.md-25 {
    font-size: 27px;
  }
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
  color: white;
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.getting-started .section-header:before, .why-the-ph .section-header:before, .why-offshore .section-header:before, .steps-holder .step:before, .section-wrap.why-the-ph .diagonal-link:before, .section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):before, .section-wrap.why-offshore .diagonal-link:before {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.getting-started .section-header:after, .why-the-ph .section-header:after, .why-offshore .section-header:after, .section-wrap.why-the-ph .diagonal-link:after, .section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):after, .section-wrap.why-offshore .diagonal-link:after {
  width: calc(100% + 729px);
  height: 1px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  background-size: 30px 100%;
}

.getting-started .section-header:before, .getting-started .section-header:after, .why-the-ph .section-header:before, .why-the-ph .section-header:after, .why-offshore .section-header:before, .why-offshore .section-header:after, .section-wrap.why-the-ph .diagonal-link:before, .section-wrap.why-the-ph .diagonal-link:after, .section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):before, .section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):after, .section-wrap.why-offshore .diagonal-link:before, .section-wrap.why-offshore .diagonal-link:after, .section-wrap.why-offshore:before, .section-wrap.why-offshore:after, .why-offshore .container .sub-header:before, .why-the-ph header:before, .why-offshore header:before {
  position: absolute;
  content: " ";
  z-index: 1;
  overflow: hidden;
}

.section-wrap.why-offshore:after, .section-wrap.why-offshore:before {
  -webkit-filter: sepia(1) grayscale(100%);
  filter: sepia(1) grayscale(100%);
}

.getting-started .section-header .section-meta-info, .why-the-ph .section-header .section-meta-info, .why-offshore .section-header .section-meta-info {
  margin-top: 4em;
  font-family: "NotoSans Medium", sans-serif;
  font-size: 1.8rem;
  color: rgba(51, 51, 51, 0.8);
  line-height: 1.6;
}
@media only screen and (max-width: 1024px) {
  .getting-started .section-header .section-meta-info, .why-the-ph .section-header .section-meta-info, .why-offshore .section-header .section-meta-info {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 414px) {
  .getting-started .section-header .section-meta-info, .why-the-ph .section-header .section-meta-info, .why-offshore .section-header .section-meta-info {
    font-size: 1rem;
  }
}

.getting-started .section-header .section-meta-info span, .why-the-ph .section-header .section-meta-info span, .why-offshore .section-header .section-meta-info span {
  font-family: "NotoSans Black", sans-serif;
}

.getting-started .section-header .section-title, .why-the-ph .section-header .section-title, .why-offshore .section-header .section-title {
  font-family: "NotoSans Thin", sans-serif;
  font-size: 5.5rem;
  line-height: 1;
}
@media only screen and (max-width: 1024px) {
  .getting-started .section-header .section-title, .why-the-ph .section-header .section-title, .why-offshore .section-header .section-title {
    font-size: 4.7rem;
  }
}
@media only screen and (max-width: 414px) {
  .getting-started .section-header .section-title, .why-the-ph .section-header .section-title, .why-offshore .section-header .section-title {
    font-size: 2.8rem;
  }
}

.getting-started .section-header .section-title span, .why-the-ph .section-header .section-title span, .why-offshore .section-header .section-title span {
  font-family: "NotoSans Black", sans-serif;
  letter-spacing: -2px;
}

.getting-started .section-header .section-meta-number, .why-the-ph .section-header .section-meta-number, .why-offshore .section-header .section-meta-number {
  font-family: "NotoSans Medium", sans-serif;
  font-size: 1.5rem;
}

.why-the-ph header, .why-offshore header {
  position: relative;
  margin-bottom: 2em;
}
.why-the-ph header:before, .why-offshore header:before {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.slick-next, .slick-prev {
  position: absolute;
  z-index: 3;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  outline: none;
  background-color: transparent;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.slick-next, .slick-prev {
  width: 57px;
  height: 202px;
}

.scroll-to-top {
  display: flex;
  position: fixed;
  z-index: 11;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #333333;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transform: translateX(100px) rotate(0deg);
  -o-transform: translateX(100px) rotate(0deg);
  -ms-transform: translateX(100px) rotate(0deg);
  -webkit-transform: translateX(100px) rotate(0deg);
  transform: translateX(100px) rotate(0deg);
}
.scroll-to-top.is-shown {
  -moz-transform: translateX(0) rotate(90deg);
  -o-transform: translateX(0) rotate(90deg);
  -ms-transform: translateX(0) rotate(90deg);
  -webkit-transform: translateX(0) rotate(90deg);
  transform: translateX(0) rotate(90deg);
  opacity: 1;
  filter: alpha(opacity=100);
}
.scroll-to-top.is-shown:hover {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slick-prev {
  left: 20px;
}
@media only screen and (max-width: 768px) {
  .slick-prev {
    left: 10px;
    width: 27px;
    height: 162px;
    padding: 0;
  }
}
.slick-prev .prev {
  display: block;
  width: 57px;
  height: 202px;
  background: transparent url("../../assets/icons/testimonial-prev.png") no-repeat center center;
}
@media only screen and (max-width: 768px) {
  .slick-prev .prev {
    width: 27px;
    height: 162px;
    background-size: contain;
  }
}

.slick-next {
  right: 30px;
}
@media only screen and (max-width: 768px) {
  .slick-next {
    right: 15px;
    width: 27px;
    height: 162px;
    padding: 0;
  }
}
.slick-next .next {
  display: block;
  width: 57px;
  height: 202px;
  background: transparent url("../../assets/icons/testimonial-next.png") no-repeat center center;
}
@media only screen and (max-width: 768px) {
  .slick-next .next {
    width: 27px;
    height: 162px;
    background-size: contain;
  }
}

.slick-dots {
  display: block;
  position: absolute;
  top: 50%;
  right: 35px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slick-dots,
.slick-dots li,
.slick-dots li button,
.slick-dots li.slick-active {
  cursor: pointer;
}

.slick-dots li {
  margin: 20px 5px;
}

.slick-dots li button {
  position: relative;
  width: 20px;
  height: 20px;
  outline: none;
  border: 2px solid #dee400;
  background-color: transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.slick-dots li button:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slick-dots li.slick-active button:before {
  cursor: default;
  background-color: #dee400;
}

.slick-dots li button:hover:before {
  background-color: #dee400;
}

.section-aegius {
  background: #446bca;
  background-image: linear-gradient(0deg, #446bca 0%, #3136b3 100%);
  background-image: -webkit-linear-gradient(0deg, #446bca 0%, #3136b3 100%);
  background-image: -moz-linear-gradient(0deg, #446bca 0%, #3136b3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=1 );
}

.section-mars {
  background: #fa6700;
  background-image: linear-gradient(0deg, #fa6700 0%, #c55000 100%);
  background-image: -webkit-linear-gradient(0deg, #fa6700 0%, #c55000 100%);
  background-image: -moz-linear-gradient(0deg, #fa6700 0%, #c55000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=1 );
}

.section-shadey {
  background: #d0d0d0;
  background-image: linear-gradient(0deg, #d0d0d0 0%, #efefef 100%);
  background-image: -webkit-linear-gradient(0deg, #d0d0d0 0%, #efefef 100%);
  background-image: -moz-linear-gradient(0deg, #d0d0d0 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=1 );
}

.section-mayflower {
  background: #f2f900;
  background-image: linear-gradient(0deg, #f2f900 0%, #dee400 100%);
  background-image: -webkit-linear-gradient(0deg, #f2f900 0%, #dee400 100%);
  background-image: -moz-linear-gradient(0deg, #f2f900 0%, #dee400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=1 );
}

.section-cta {
  display: inline-block;
  padding: 15px 60px;
  font-family: "NotoSans Black", sans-serif;
  font-size: 1.2rem;
  color: #f2f2f2;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #f2f2f2;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}
@media only screen and (max-width: 414px) {
  .section-cta {
    display: inline-block;
    margin: 0 auto;
    float: none;
  }
}
.section-cta.section-cta-mars {
  color: #fa6700;
  border-color: #fa6700;
}
.section-cta.section-cta-mars:hover {
  color: #f2f2f2;
  background-color: #fa6700;
  border-color: #fa6700;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
}
.section-cta.section-cta-aegius {
  position: relative;
  z-index: 1;
  color: #333db6;
  border-color: #333db6;
}
.section-cta.section-cta-aegius:hover {
  color: #f2f2f2;
  background-color: #333db6;
  border-color: #333db6;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.partners ul li {
  display: inline-block;
}

.why-offshore .container:first-of-type {
  margin-bottom: 8em;
}
@media only screen and (max-width: 1024px) {
  .why-offshore .container .why-features {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 992px) {
  .why-offshore .container .why-features {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.why-offshore .container .sub-header {
  position: relative;
  font-family: "NotoSans Medium", sans-serif;
  font-size: 1.6rem;
  color: #333;
}
@media only screen and (max-width: 992px) {
  .why-offshore .container .sub-header {
    font-size: 2rem;
    line-height: 1.1;
  }
}
@media only screen and (max-width: 414px) {
  .why-offshore .container .sub-header {
    font-size: 1.5rem;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
  }
}
.why-offshore .container .sub-header:before {
  bottom: 0;
  width: 50px;
  height: 2px;
  background-color: #f2f2f2;
}
@media only screen and (max-width: 414px) {
  .why-offshore .container .sub-header:before {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.why-offshore .container .sub-meta-info {
  margin-bottom: 50px;
  line-height: 1.6;
}
@media only screen and (max-width: 414px) {
  .why-offshore .container .sub-meta-info {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
  }
}

.section-wrap {
  position: relative;
  color: #f2f2f2;
  overflow: hidden;
}
.section-wrap.why-offshore:before {
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/gridbg_glow.png");
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.section-wrap.why-offshore:after {
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/gridbg_glow.png");
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.section-wrap.why-offshore .diagonal-link {
  position: absolute;
}
.section-wrap.why-offshore .diagonal-link:before {
  bottom: -50px;
  left: 300px;
  background-color: #333333;
}
.section-wrap.why-offshore .diagonal-link:after {
  bottom: 155px;
  left: -370px;
  background-image: linear-gradient(to right, transparent 50%, #ffffff 0%);
  -moz-transform: rotate(32deg);
  -o-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  -webkit-transform: rotate(32deg);
  transform: rotate(32deg);
}
@media only screen and (max-width: 320px) {
  .section-wrap.why-offshore .diagonal-link:before {
    left: 170px;
  }
  .section-wrap.why-offshore .diagonal-link:after {
    left: -500px;
  }
}
.section-wrap.why-the-ph .fact-list-holder {
  margin-top: 14em;
}
@media only screen and (max-width: 1024px) {
  .section-wrap.why-the-ph .fact-list-holder {
    margin-top: 4em;
  }
}
.section-wrap.why-the-ph .fact-list-holder .fact-list {
  position: relative;
}
.section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):before {
  bottom: 367px;
  left: 297px;
  background-color: #333db6;
}
.section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):after {
  bottom: -142px;
  left: -211px;
  background-image: linear-gradient(to right, transparent 50%, #333333 0%);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media only screen and (max-width: 1024px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):before {
    bottom: 327px;
    left: 226px;
  }
  .section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):after {
    bottom: -142px;
    left: -251px;
  }
}
@media only screen and (max-width: 992px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):before {
    left: 231px;
  }
  .section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):after {
    left: -244px;
  }
}
@media only screen and (max-width: 768px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):before {
    left: 171px;
    bottom: 218px;
  }
  .section-wrap.why-the-ph .fact-list-holder .fact-list:not(:last-child):after {
    left: -275px;
    bottom: -225px;
  }
}
@media only screen and (max-width: 414px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list:nth-child(odd):before {
    left: 202px;
  }
  .section-wrap.why-the-ph .fact-list-holder .fact-list:nth-child(odd):after {
    left: -257px;
  }
}
@media only screen and (max-width: 375px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list:nth-child(odd):before {
    left: 195px;
  }
}
@media only screen and (max-width: 360px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list:nth-child(odd):before {
    left: 192px;
  }
}
@media only screen and (max-width: 320px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list:nth-child(odd):before {
    left: 162px;
    bottom: 200px;
  }
  .section-wrap.why-the-ph .fact-list-holder .fact-list:nth-child(odd):after {
    left: -277px;
  }
}
@media only screen and (max-width: 414px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list:nth-child(2):before, .section-wrap.why-the-ph .fact-list-holder .fact-list:nth-child(2):after, .section-wrap.why-the-ph .fact-list-holder .fact-list:last-child:before, .section-wrap.why-the-ph .fact-list-holder .fact-list:last-child:after {
    display: none;
  }
}
@media only screen and (max-width: 414px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list:nth-child(3):after {
    display: none;
  }
}
.section-wrap.why-the-ph .fact-list-holder .fact-list .fact-list-meta {
  padding: 3em 12px;
  font-family: "NotoSans Light", sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #737171;
}
@media only screen and (max-width: 1024px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list .fact-list-meta {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list .fact-list-meta {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 320px) {
  .section-wrap.why-the-ph .fact-list-holder .fact-list .fact-list-meta {
    font-size: 1rem;
  }
}
.section-wrap.why-the-ph .diagonal-link {
  position: absolute;
}
.section-wrap.why-the-ph .diagonal-link:before {
  bottom: 100px;
  left: 780px;
  background-color: #333db6;
}
.section-wrap.why-the-ph .diagonal-link:after {
  bottom: -83px;
  left: 735px;
  background-image: linear-gradient(to right, transparent 50%, #333333 0%);
  -moz-transform: rotate(32deg);
  -o-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  -webkit-transform: rotate(32deg);
  transform: rotate(32deg);
}
@media only screen and (max-width: 768px) {
  .section-wrap.why-the-ph .diagonal-link:before {
    left: 550px;
  }
  .section-wrap.why-the-ph .diagonal-link:after {
    left: 505px;
  }
}
.section-wrap.getting-started {
  padding-bottom: 8em;
}
.section-wrap.getting-started .mobile-steps {
  display: none;
}
@media only screen and (max-width: 414px) {
  .section-wrap.getting-started .mobile-steps {
    display: block;
    margin-top: 2em;
    font-family: "NotoSans Medium";
    font-size: 1.2rem;
  }
  .section-wrap.getting-started .mobile-steps .steps {
    padding: 12px;
    -webkit-box-shadow: 0 9px 10px 1px rgba(31, 31, 31, 0.4);
    -moz-box-shadow: 0 9px 10px 1px rgba(31, 31, 31, 0.4);
    box-shadow: 0 9px 10px 1px rgba(31, 31, 31, 0.4);
  }
  .section-wrap.getting-started .mobile-steps .steps .step-mobile-number {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #1f1f21;
    font-size: 1rem;
    color: #f2f2f2;
    line-height: 30px;
  }
  .section-wrap.getting-started .mobile-steps .steps .line-breaker {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .section-wrap.getting-started .steps-panel {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
}
@media only screen and (max-width: 414px) {
  .section-wrap.getting-started .steps-panel {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .section-wrap.getting-started .header-panel {
    -ms-flex-preferred-size: 66%;
    flex-basis: 66%;
    max-width: 66%;
    margin-left: 4%;
  }
}
@media only screen and (max-width: 414px) {
  .section-wrap.getting-started .header-panel {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
.steps-holder {
  position: relative;
  padding-top: 9em;
}
@media only screen and (max-width: 992px) {
  .steps-holder {
    padding-top: 6.7em;
  }
}
.steps-holder:before {
  position: absolute;
  content: "";
  bottom: 275px;
  left: -240px;
  width: calc(100% + 39px);
  height: 1px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  background-size: 30px 100%;
  background-image: linear-gradient(to right, transparent 50%, #646262 0%);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media only screen and (max-width: 1024px) {
  .steps-holder:before {
    bottom: 246px;
    left: -200px;
    width: calc(100% + 66px);
  }
}
@media only screen and (max-width: 992px) {
  .steps-holder:before {
    bottom: 200px;
    left: -202px;
  }
}
.steps-holder .step {
  position: relative;
}
.steps-holder .step:before {
  position: absolute;
  content: "";
  top: 65px;
  left: 77px;
  background-color: #fa6700;
}
@media only screen and (max-width: 1024px) {
  .steps-holder .step:before {
    bottom: 57px;
    left: 67px;
  }
}
@media only screen and (max-width: 992px) {
  .steps-holder .step:before {
    top: 27px;
    left: 61px;
  }
}
.steps-holder .step .step-number {
  font-family: "NotoSans Light", sans-serif;
  font-size: 5.5rem;
  color: rgba(132, 132, 133, 0.15);
}
@media only screen and (max-width: 992px) {
  .steps-holder .step .step-number {
    font-size: 3rem;
  }
}
.steps-holder .step .step-meta-info {
  padding-top: 1.7em;
  font-family: "NotoSans Medium", sans-serif;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #1f1f21;
}
@media only screen and (max-width: 1024px) {
  .steps-holder .step .step-meta-info {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 992px) {
  .steps-holder .step .step-meta-info {
    padding-top: 15px;
    padding-left: 50px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .steps-holder .step .step-meta-info {
    font-size: 0.7rem;
  }
}

.section-wrap.section-testimonial {
  padding-bottom: 6em;
  background-color: #f7f7f7;
}
.section-small-title {
  position: relative;
  padding-bottom: 0.8em;
  margin-top: 3em;
  font-family: "NotoSans Medium", sans-serif;
  color: rgba(51, 51, 51, 0.8);
}
@media only screen and (max-width: 320px) {
  .section-small-title {
    font-size: 1.7em;
  }
}
.section-small-title:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 90px;
  width: 50px;
  height: 6px;
  background-color: rgba(51, 51, 51, 0.8);
}
@media only screen and (max-width: 320px) {
  .section-small-title:before {
    left: 78px;
  }
}
@media only screen and (max-width: 414px) {
  .section-small-title.small-title-team {
    margin-left: 14px;
  }
}
@media only screen and (max-width: 360px) {
  .section-small-title.small-title-team {
    margin-left: 9px;
  }
}
.section-small-title.small-title-snowhite {
  color: #f2f2f2;
}
.section-small-title.small-title-snowhite:before {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 414px) {
  .testimonial-list {
    display: none;
  }
}

.testimonial-list-mobile {
  display: none;
  padding: 15px;
}
@media only screen and (max-width: 414px) {
  .testimonial-list-mobile {
    display: block;
  }
}

.section-wrap.section-testimonial .testimonial .testimonial-content {
  padding: 0 8.8em;
  font-family: "NotoSans Regular", sans-serif;
  color: #333;
  line-height: 2;
}
@media only screen and (max-width: 768px) {
  .section-wrap.section-testimonial .testimonial .testimonial-content {
    padding-left: 3em;
    padding-right: 3em;
  }
}
@media only screen and (max-width: 414px) {
  .section-wrap.section-testimonial .testimonial .testimonial-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: justify;
  }
}
.section-wrap.section-testimonial .testimonial .testimonial-author {
  font-family: "NotoSans Black", sans-serif;
  font-size: 1.1rem;
  color: #1f1f21;
}
.section-wrap.the-team .team-list .team-btn-holder {
  padding-left: 88px;
  padding-top: 1rem;
}
@media only screen and (max-width: 1024px) {
  .section-wrap.the-team .team-list .team-btn-holder {
    margin-bottom: -22px;
  }
}
@media only screen and (max-width: 768px) {
  .section-wrap.the-team .team-list .team-btn-holder {
    display: none;
  }
}
.section-wrap.the-team .team-list .team-btn-holder .team-btn {
  display: inline-block;
  width: 9em;
  padding: 10px 20px;
  font-family: "NotoSans Black", sans-serif;
  font-size: 1.2rem;
  color: #f2f2f2;
  text-decoration: none;
  text-align: center;
  border: 2px solid #f2f2f2;
  background-color: transparent;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  outline: none;
}
@media only screen and (max-width: 1024px) {
  .section-wrap.the-team .team-list .team-btn-holder .team-btn {
    width: 8em;
  }
}
.section-wrap.the-team .team-list .team-btn-holder .team-btn:not(:first-child) {
  margin-left: 15px;
}
.section-wrap.the-team .team-list .team-btn-holder .team-btn:hover {
  border-color: #fa6700;
  background-color: #fa6700;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.team-desc {
  padding-top: 30px;
  padding-bottom: 4em;
  padding-left: 30px;
}
@media only screen and (max-width: 1024px) {
  .team-desc {
    padding-left: 42px;
  }
}
@media only screen and (max-width: 768px) {
  .team-desc {
    padding-left: 34px;
  }
}
@media only screen and (max-width: 414px) {
  .team-desc {
    padding: 0;
  }
}

.section-wrap.the-team .team-list .team-meta-mobile {
  display: none;
}
@media only screen and (max-width: 414px) {
  .section-wrap.the-team .team-list .team-meta-mobile {
    display: block;
  }
  .section-wrap.the-team .team-list .team-meta-mobile .meta-info {
    position: relative;
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
  }
}
@media only screen and (max-width: 414px) and (max-width: 320px) {
  .section-wrap.the-team .team-list .team-meta-mobile .meta-info {
    height: 200px;
  }
}
.section-wrap.the-team .team-list .team-meta-mobile .team-mobile-overlay {
  position: fixed;
  z-index: 16;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 15px;
  background-color: #2a2a2a;
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
}
.section-wrap.the-team .team-list .team-meta-mobile .team-mobile-overlay.is-shown {
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.section-wrap.the-team .team-list .team-meta-mobile .team-mobile-overlay .team-meta-profile .profile-name {
  margin-bottom: 0;
  font-family: "NotoSans Black";
  font-size: 2rem;
  line-height: 1;
}
@media only screen and (max-width: 320px) {
  .section-wrap.the-team .team-list .team-meta-mobile .team-mobile-overlay .team-meta-profile .profile-name {
    font-size: 1.7rem;
    line-height: 0.3;
  }
}
.section-wrap.the-team .team-list .team-meta-mobile .team-mobile-overlay .team-meta-profile .profile-title {
  font-family: "NotoSans Bold";
  font-size: 1.2rem;
  line-height: 2.5;
}
.section-wrap.the-team .team-list .team-meta-mobile .team-mobile-overlay .team-meta-profile .profile-desc {
  font-family: "NotoSans Medium";
  font-size: 1rem;
  line-height: 1.8;
  text-align: justify;
}
@media only screen and (max-width: 320px) {
  .section-wrap.the-team .team-list .team-meta-mobile .team-mobile-overlay .team-meta-profile .profile-desc {
    text-align: left;
  }
}
.section-wrap.the-team .team-list .team-desc-meta {
  padding-left: 88px;
}
@media only screen and (max-width: 414px) {
  .section-wrap.the-team .team-list .team-desc-meta {
    display: none;
  }
}
.section-wrap.the-team .team-list .team-desc-meta .team-name {
  font-family: "NotoSans Black", sans-serif;
  font-size: 3rem;
}
@media only screen and (max-width: 1024px) {
  .section-wrap.the-team .team-list .team-desc-meta .team-name {
    font-size: 2.9rem;
  }
}
@media only screen and (max-width: 992px) {
  .section-wrap.the-team .team-list .team-desc-meta .team-name {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .section-wrap.the-team .team-list .team-desc-meta .team-name {
    font-size: 2rem;
  }
}
.section-wrap.the-team .team-list .team-desc-meta .team-title {
  font-family: "NotoSans Black", sans-serif;
  font-size: 2rem;
  line-height: 0.5;
}
@media only screen and (max-width: 768px) {
  .section-wrap.the-team .team-list .team-desc-meta .team-title {
    font-size: 1.5rem;
  }
}
.section-wrap.the-team .team-list .team-desc-meta .team-profile {
  min-height: 172px;
  font-family: "NotoSans Medium", sans-serif;
  line-height: 1.8;
}
@media only screen and (max-width: 1024px) {
  .section-wrap.the-team .team-list .team-desc-meta .team-profile {
    min-height: 196px;
  }
}
@media only screen and (max-width: 768px) {
  .section-wrap.the-team .team-list .team-desc-meta .team-profile {
    margin: 0;
  }
}
.section-wrap.the-team .team-list .team-img-holder {
  position: relative;
  min-height: 653px;
}
@media only screen and (max-width: 414px) {
  .section-wrap.the-team .team-list .team-img-holder {
    display: none;
  }
}
.section-wrap.the-team .team-list .team-img-holder .team-img {
  width: 427px;
  height: 653px !important;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(24% 0, 100% 0%, 100% 100%, 6% 100%);
  clip-path: polygon(24% 0, 100% 0%, 100% 100%, 6% 100%);
}
@media only screen and (max-width: 768px) {
  .section-wrap.the-team .team-list .team-img-holder .team-img {
    background-position: -70px;
  }
}
.why-offshore header:before {
  background-image: url("../../assets/img/why-offshore.png");
  background-position: -220px 135px;
  background-size: 65%;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media only screen and (max-width: 768px) {
  .why-offshore header:before {
    z-index: 0;
    background-image: url("../../assets/img/why-offshore-768.png");
    background-size: 65%;
    background-position: -60px 175px;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
}
@media only screen and (max-width: 414px) {
  .why-offshore header:before {
    background-image: none;
  }
}
@media only screen and (max-width: 768px) {
  .why-offshore header .col-sm-offset-6 {
    margin-left: 37%;
  }
}
@media only screen and (max-width: 414px) {
  .why-offshore header .col-xs-12 {
    margin-left: 0;
  }
}

.why-the-ph header:before {
  background-image: url("../../assets/img/why-the-ph.png");
  background-position: 320px 180px;
  background-size: 75%;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
@media only screen and (max-width: 768px) {
  .why-the-ph header:before {
    z-index: 0;
    background-image: url("../../assets/img/why-the-ph-768.png");
    background-position: 280px 180px;
    background-size: 60%;
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
}
@media only screen and (max-width: 414px) {
  .why-the-ph header:before {
    background-image: none;
  }
}
@media only screen and (max-width: 768px) {
  .why-the-ph header .col-sm-6 {
    -ms-flex-preferred-size: 66%;
    flex-basis: 66%;
    max-width: 66%;
  }
}
@media only screen and (max-width: 414px) {
  .why-the-ph header .col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .why-the-ph header .col-xs-12 .line-breaker {
    display: none;
  }
}

.section-header {
  position: relative;
  padding-top: 80px;
}
.why-offshore .section-header:before {
  bottom: 270px;
  left: 120px;
  background-color: #333333;
}
.why-offshore .section-header:after {
  bottom: 280px;
  left: 130px;
  background-image: linear-gradient(to right, transparent 50%, #ffffff 0%);
}
.why-offshore .section-header .section-title {
  color: currentColor;
}
@media only screen and (max-width: 414px) {
  .why-offshore .section-header .section-title {
    text-align: center;
  }
}
.why-offshore .section-header .section-title span {
  color: #333;
}
.why-offshore .section-header .section-meta-number {
  color: #f2f2f2;
}
@media only screen and (max-width: 414px) {
  .why-offshore .section-header .section-meta-number {
    text-align: center;
  }
}
@media only screen and (max-width: 414px) {
  .why-offshore .section-header .section-meta-info {
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .why-offshore .section-header .section-meta-info {
    padding: 0.5em;
  }
}
.why-offshore .section-header .section-meta-info span {
  color: #f2f2f2;
}
@media only screen and (max-width: 1024px) {
  .why-offshore .section-header:before {
    bottom: 212px;
  }
  .why-offshore .section-header:after {
    bottom: 221px;
  }
}
@media only screen and (max-width: 414px) {
  .why-offshore .section-header:before {
    bottom: 145px;
  }
  .why-offshore .section-header:after {
    bottom: 155px;
  }
}
.why-the-ph .section-header:before {
  bottom: 360px;
  right: 120px;
  background-color: #333db6;
}
.why-the-ph .section-header:after {
  bottom: 370px;
  right: 140px;
  background-image: linear-gradient(to right, transparent 50%, #333333 0%);
}
.why-the-ph .section-header .section-title {
  color: #333;
}
@media only screen and (max-width: 414px) {
  .why-the-ph .section-header .section-title {
    text-align: center;
  }
}
.why-the-ph .section-header .section-title span {
  color: #333db6;
}
.why-the-ph .section-header .section-meta-number {
  color: #333;
}
@media only screen and (max-width: 414px) {
  .why-the-ph .section-header .section-meta-number {
    text-align: center;
  }
}
@media only screen and (max-width: 414px) {
  .why-the-ph .section-header .section-meta-info {
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .why-the-ph .section-header .section-meta-info {
    padding: 0.5em;
  }
}
.why-the-ph .section-header .section-meta-info span {
  color: #333db6;
}
@media only screen and (max-width: 1024px) {
  .why-the-ph .section-header:before {
    bottom: 270px;
  }
  .why-the-ph .section-header:after {
    bottom: 280px;
  }
}
@media only screen and (max-width: 414px) {
  .why-the-ph .section-header:before {
    bottom: 250px;
  }
  .why-the-ph .section-header:after {
    bottom: 260px;
  }
}
@media only screen and (max-width: 360px) {
  .why-the-ph .section-header:before {
    bottom: 280px;
  }
  .why-the-ph .section-header:after {
    bottom: 290px;
  }
}
.getting-started .section-header:before {
  bottom: 415px;
  left: 105px;
  background-color: #fa6700;
}
.getting-started .section-header:after {
  bottom: 425px;
  left: 120px;
  background-image: linear-gradient(to right, transparent 50%, #646262 0%);
}
.getting-started .section-header .section-title {
  color: #646262;
}
@media only screen and (max-width: 414px) {
  .getting-started .section-header .section-title {
    text-align: center;
  }
}
.getting-started .section-header .section-title span {
  color: #333;
}
.getting-started .section-header .section-meta-number {
  color: #646262;
}
@media only screen and (max-width: 414px) {
  .getting-started .section-header .section-meta-number {
    text-align: center;
  }
}
@media only screen and (max-width: 414px) {
  .getting-started .section-header .section-meta-info {
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .getting-started .section-header .section-meta-info {
    padding: 0.5em;
  }
}
.getting-started .section-header .section-meta-info span {
  color: rgba(31, 31, 33, 0.8);
}
@media only screen and (max-width: 1024px) {
  .getting-started .section-header:before {
    bottom: 325px;
  }
  .getting-started .section-header:after {
    bottom: 333px;
  }
}
@media only screen and (max-width: 414px) {
  .getting-started .section-header:before {
    bottom: 250px;
  }
  .getting-started .section-header:after {
    bottom: 259px;
  }
}

.navbar .main-nav li:first-child, .navbar .main-nav li:nth-child(2), .navbar .main-nav li:last-child {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .main-nav li:first-child:hover, .navbar .main-nav li:nth-child(2):hover, .navbar .main-nav li:last-child:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.main-menu {
  position: fixed;
  background-color: transparent;
  z-index: -2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow-y: auto;
}
@media only screen and (max-width: 375px) {
  .main-menu {
    padding: 15px;
  }
}
.main-menu img {
  width: 200px;
}
@media only screen and (max-width: 414px) {
  .main-menu img {
    width: 150px;
  }
}
@media only screen and (max-width: 414px) {
  .main-menu .container {
    width: 22.5em;
  }
}
@media only screen and (max-width: 375px) {
  .main-menu .container {
    width: 20.3em;
  }
}
@media only screen and (max-width: 320px) {
  .main-menu .container {
    width: 18.1em;
  }
}
@media only screen and (max-width: 414px) {
  .main-menu .list-unstyled {
    padding-right: 0;
  }
}
@media only screen and (max-width: 320px) {
  .main-menu .list-unstyled {
    padding-top: 10px;
  }
}
.main-menu.is-shown {
  z-index: 12;
  background-color: #2a2a2a;
  opacity: 1;
  filter: alpha(opacity=100);
}
.main-menu .contact-info {
  position: fixed;
  z-index: 13;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  font-family: "NotoSans Medium", sans-serif;
  font-size: 0.9rem;
  color: #f2f2f2;
}
@media only screen and (max-width: 320px) {
  .main-menu .contact-info {
    font-size: 0.8rem;
  }
}
.main-menu .contact-info a {
  font-family: "NotoSans Black", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-menu .contact-info a:hover {
  color: #333;
}
.main-menu .menu-meta-number {
  font-family: "NotoSans Medium", sans-serif;
  font-size: 1.9rem;
  color: #707070;
}
@media only screen and (max-width: 1024px) {
  .main-menu .menu-meta-number {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 992px) {
  .main-menu .menu-meta-number {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 414px) {
  .main-menu .menu-meta-number {
    display: none;
  }
}
.main-menu .menu-meta-intro {
  font-family: "NotoSans Medium", sans-serif;
  font-size: 0.9rem;
  color: #f2f2f2;
}
@media only screen and (max-width: 1024px) {
  .main-menu .menu-meta-intro {
    font-size: 17px;
  }
}
@media only screen and (max-width: 414px) {
  .main-menu .menu-meta-intro {
    display: none;
  }
}
.main-menu .menu-meta-title {
  position: relative;
  font-family: "NotoSans Black", sans-serif;
  font-size: 1.8rem;
  color: #707070;
  line-height: 1.6;
}
@media only screen and (max-width: 1024px) {
  .main-menu .menu-meta-title {
    font-size: 1.3rem;
    line-height: 1.8;
  }
}
@media only screen and (max-width: 992px) {
  .main-menu .menu-meta-title {
    padding-bottom: 8px;
    font-size: 1.1rem;
    line-height: 1.4;
  }
}
@media only screen and (max-width: 768px) {
  .main-menu .menu-meta-title {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 414px) {
  .main-menu .menu-meta-title {
    text-align: center;
  }
}
@media only screen and (max-width: 320px) {
  .main-menu .menu-meta-title {
    margin-bottom: 0;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 414px) {
  .menu-meta-list {
    display: block;
    width: 100%;
  }
}
.menu-meta-list .list-container {
  margin-bottom: 1em;
}
@media only screen and (max-width: 992px) {
  .menu-meta-list .list-container {
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 320px) {
  .menu-meta-list .list-container {
    margin-bottom: 0.8em;
  }
}
.menu-meta-list a:hover .meta-title-mars,
.menu-meta-list a:hover .meta-intro-mars {
  background: -webkit-gradient(linear, left top, right top, from(#fa6700), to(#c55000));
  background: linear-gradient(to right, #fa6700, #c55000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-meta-list a:hover .meta-title-aegius,
.menu-meta-list a:hover .meta-intro-aegius {
  background: -webkit-gradient(linear, left top, right top, from(#446bca), to(#3136b3));
  background: linear-gradient(to right, #446bca, #3136b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-meta-list a:hover .meta-title-shadey,
.menu-meta-list a:hover .meta-intro-shadey {
  background: -webkit-gradient(linear, left top, right top, from(#d0d0d0), to(#efefef));
  background: linear-gradient(to right, #d0d0d0, #efefef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-meta-list a:hover .meta-title-mayflower,
.menu-meta-list a:hover .meta-intro-mayflower {
  background: -webkit-gradient(linear, left top, right top, from(#f2f900), to(#dee400));
  background: linear-gradient(to right, #f2f900, #dee400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-menu .menu-meta-title:before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 70px;
  height: 4px;
  background-color: #707070;
}
@media only screen and (max-width: 414px) {
  .main-menu .menu-meta-title:before {
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
  }
}
@media only screen and (max-width: 414px) {
  .main-menu .about-menu {
    padding: 0;
  }
}
.main-menu .about-menu .menu-meta-title {
  font-size: 3rem;
  color: #f2f2f2;
  line-height: 1.2;
}
@media only screen and (max-width: 768px) {
  .main-menu .about-menu .menu-meta-title {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 360px) {
  .main-menu .about-menu .menu-meta-title {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 320px) {
  .main-menu .about-menu .menu-meta-title {
    margin-bottom: 8px;
    font-size: 1rem;
  }
}
.main-menu .about-menu .menu-meta-title:before {
  background-color: #f2f2f2;
}
@media only screen and (max-width: 414px) {
  .about-menu-nav {
    text-align: center;
  }
}

.main-menu .about-menu-nav li:first-child a:hover {
  color: #446bca;
}
.main-menu .about-menu-nav li:nth-child(2) a:hover {
  color: #fa6700;
}
.main-menu .about-menu-nav li:last-child a:hover {
  color: #f2f900;
}
.main-menu .about-menu-nav li a {
  padding-bottom: 1.2em;
  font-family: "NotoSans Medium", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  color: #707070;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 1024px) {
  .main-menu .about-menu-nav li a {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .main-menu .about-menu-nav li a {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 360px) {
  .main-menu .about-menu-nav li a {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 320px) {
  .main-menu .about-menu-nav li a {
    font-size: 1rem;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
  z-index: 10;
}
.navbar.navbar-aegius {
  background: #446bca;
  background-image: linear-gradient(0deg, #446bca 0%, #3136b3 100%);
  background-image: -webkit-linear-gradient(0deg, #446bca 0%, #3136b3 100%);
  background-image: -moz-linear-gradient(0deg, #446bca 0%, #3136b3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=1 );
}
.navbar.navbar-shadey {
  background: #d0d0d0;
  background-image: linear-gradient(0deg, #d0d0d0 0%, #efefef 100%);
  background-image: -webkit-linear-gradient(0deg, #d0d0d0 0%, #efefef 100%);
  background-image: -moz-linear-gradient(0deg, #d0d0d0 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=1 );
}
.navbar.navbar-mayflower {
  background: #f2f900;
  background-image: linear-gradient(0deg, #f2f900 0%, #dee400 100%);
  background-image: -webkit-linear-gradient(0deg, #f2f900 0%, #dee400 100%);
  background-image: -moz-linear-gradient(0deg, #f2f900 0%, #dee400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=1 );
}
.navbar.navbar-mars {
  background: #fa6700;
  background-image: linear-gradient(0deg, #fa6700 0%, #c55000 100%);
  background-image: -webkit-linear-gradient(0deg, #fa6700 0%, #c55000 100%);
  background-image: -moz-linear-gradient(0deg, #fa6700 0%, #c55000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=1 );
}
@media only screen and (max-width: 414px) {
  .navbar-brand {
    padding: 6px;
  }
}
.navbar-brand img {
  width: 200px;
}
@media only screen and (max-width: 414px) {
  .navbar-brand img {
    width: 150px;
  }
}

.navbar .nav li {
  display: inline-block;
  padding: 12px;
  color: #f2f2f2;
  font-size: 16px;
  font-family: "NotoSans Black", sans-serif;
}
@media only screen and (max-width: 1024px) {
  .navbar .nav li {
    font-size: 11px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .nav li {
    display: inline-block !important;
    visibility: visible !important;
    font-size: 13px;
  }
}
@media only screen and (max-width: 414px) {
  .navbar .nav li:not(:last-child) {
    display: none !important;
    padding: 6px;
  }
}
.navbar .nav li a {
  text-decoration: none;
  color: currentColor;
}
.navbar.navbar-aegius .scrolling-nav li {
  color: #fff !important;
}
.navbar.navbar-aegius .scrolling-nav li .main-nav li:first-child, .navbar.navbar-aegius .main-nav .scrolling-nav li li:first-child, .navbar.navbar-aegius .scrolling-nav li .main-nav li:nth-child(2), .navbar.navbar-aegius .main-nav .scrolling-nav li li:nth-child(2), .navbar.navbar-aegius .scrolling-nav li .main-nav li:last-child, .navbar.navbar-aegius .main-nav .scrolling-nav li li:last-child {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar.navbar-shadey .main-nav li, .navbar.navbar-shadey .main-nav a, .navbar.navbar-mayflower .main-nav li, .navbar.navbar-mayflower .main-nav a {
  color: #333333ab !important;
}
.navbar.navbar-shadey .main-nav .material-icons, .navbar.navbar-mayflower .main-nav .material-icons {
  color: #333333ab !important;
}

@media only screen and (max-width: 768px) {
  .scrolling-nav {
    display: none;
  }
}

.navbar .scrolling-nav li {
  color: #333333ab !important;
}
.navbar .scrolling-nav li .main-nav li:first-child, .navbar .main-nav .scrolling-nav li li:first-child, .navbar .scrolling-nav li .main-nav li:nth-child(2), .navbar .main-nav .scrolling-nav li li:nth-child(2), .navbar .scrolling-nav li .main-nav li:last-child, .navbar .main-nav .scrolling-nav li li:last-child {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar .scrolling-nav li.active a {
  color: #1f1f21;
  cursor: default;
  pointer-events: none;
}
.navbar .scrolling-nav li a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar .scrolling-nav li a:hover {
  color: #1f1f21;
}
.navbar .scrolling-nav li a:hover .main-nav li:first-child:hover, .navbar .main-nav .scrolling-nav li a:hover li:first-child:hover, .navbar .scrolling-nav li a:hover .main-nav li:nth-child(2):hover, .navbar .main-nav .scrolling-nav li a:hover li:nth-child(2):hover, .navbar .scrolling-nav li a:hover .main-nav li:last-child:hover, .navbar .main-nav .scrolling-nav li a:hover li:last-child:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.navbar .main-nav li:last-child > i {
  padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  .navbar .main-nav li:last-child .menu-label {
    opacity: 1 !important;
  }
}
@media only screen and (max-width: 414px) {
  .navbar .main-nav li:last-child .menu-label {
    font-size: 1rem;
  }
}
.navbar .main-nav li:hover:not(:nth-child(3)) {
  cursor: pointer;
}

.hero .cta-btn {
  background-color: transparent;
  color: currentColor;
  border: 3px solid #f7f7f7;
  outline: none;
  box-shadow: none;
  -webkit-border-radius: 80px;
  border-radius: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero .cta-btn:hover {
  background-color: #c55000;
  border-color: #c55000;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.hero:before, .hero:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.hero {
  position: relative;
  height: 100vh;
  color: #f2f2f2;
  z-index: 3;
}
.hero:before {
  background-image: url("../../assets/img/gridbg_glow.png");
}
.hero:after {
  background-image: url("../../assets/img/hero-bg.png");
  background-position: 150px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
@media only screen and (width: 1024px) and (height: 1366px) {
  .hero:after {
    background-position: -760px 80px !important;
  }
}
@media only screen and (width: 1366px) and (height: 1024px) {
  .hero:after {
    background-position: -120px 70px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .hero:after {
    background-position: -70px 80px;
  }
}
@media only screen and (max-width: 992px) {
  .hero:after {
    background-position: -150px 80px;
  }
}
@media only screen and (max-width: 768px) {
  .hero:after {
    background-image: url("../../assets/img/hero-bg-768.png");
    background-position: 0 -10px;
  }
}
@media only screen and (max-width: 414px) {
  .hero:after {
    background-image: none;
  }
}
.hero h1 {
  font-family: "NotoSans Regular", sans-serif;
  font-size: 2.3rem;
  color: currentColor;
  line-height: 2.6rem;
  letter-spacing: 3px;
}
@media only screen and (max-width: 992px) {
  .hero h1 {
    font-size: 3.3rem;
    line-height: 3.5rem;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 3.9rem;
    line-height: 4.5rem;
  }
}
@media only screen and (max-width: 414px) {
  .hero h1 {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .hero h1 {
    font-size: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
  }
}
@media only screen and (max-width: 320px) {
  .hero h1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}
.hero h1 span {
  font-family: "NotoSans Black", sans-serif;
  color: #333;
}
.hero p {
  font-family: "NotoSans Medium", sans-serif;
  font-size: 1.1rem;
  color: currentColor;
  line-height: 1.7em;
}
@media only screen and (max-width: 414px) {
  .hero p {
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .hero p {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .hero p {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
.hero .cta-btn {
  display: inline-block;
  margin: 20px 15px;
  padding: 15px 40px;
  font-family: "NotoSans Black", sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 414px) {
  .hero .cta-btn {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 20px 30px;
    text-align: center;
  }
}
@media only screen and (max-width: 414px) {
  .hero .cta-btn {
    padding: 10px 15px;
    font-size: 1rem;
  }
}
.hero .row .col-xs-12 {
  padding-top: 80px;
}
@media only screen and (max-width: 414px) {
  .hero .row .col-xs-12 {
    padding-top: 0;
  }
}
.scrolldown-icon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 34px;
  height: 48px;
  margin: 0 auto;
  background-image: url("../../assets/icons/scroll-down.png");
  background-repeat: no-repeat;
  background-position: center center;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
  opacity: 0.0999;
  filter: alpha(opacity=9.99);
}
@media only screen and (max-width: 414px) {
  .scrolldown-icon {
    bottom: 15px;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.about-wrap {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.meta-content.staff-info .meta-content-header, .meta-content.facilities-info .meta-content-header {
  padding-top: 40px;
}

.about-wrap .section-aegius:after,
.about-wrap .section-shadey:after,
.about-wrap .section-mayflower:after, .about-wrap .section-aegius:before,
.about-wrap .section-shadey:before,
.about-wrap .section-mayflower:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 300px;
}

.about-wrap {
  position: fixed;
  background-color: transparent;
  z-index: -14;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fadeOut;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: inherit;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fadeOut;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: inherit;
  -o-animation-duration: 0.5s;
  -o-animation-name: fadeOut;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: inherit;
  animation-duration: 0.5s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-iteration-count: inherit;
  overflow-y: auto;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 414px) {
  .about-wrap .container {
    width: 24.5em;
  }
}
@media only screen and (max-width: 375px) {
  .about-wrap .container {
    width: 21em;
  }
}
@media only screen and (max-width: 768px) {
  .about-wrap .row {
    padding-left: 0;
  }
}
.about-wrap.is-shown {
  z-index: 14;
  background-color: #2a2a2a;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: inherit;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fadeIn;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: inherit;
  -o-animation-duration: 0.5s;
  -o-animation-name: fadeIn;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: inherit;
  animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-iteration-count: inherit;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.about-wrap .about-icon-close {
  position: fixed;
  z-index: 14;
  right: 30px;
}
@media only screen and (max-width: 414px) {
  .about-wrap .about-icon-close {
    top: -9px;
    right: -9px;
  }
}
.about-wrap .about-icon-close.is-active .md-light {
  color: #333;
}
.about-wrap .section-aegius,
.about-wrap .section-shadey,
.about-wrap .section-mayflower {
  position: relative;
  padding-bottom: 60px;
}
@media only screen and (max-width: 414px) {
  .about-wrap .section-aegius .col-xs-12,
.about-wrap .section-shadey .col-xs-12,
.about-wrap .section-mayflower .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 414px) {
  .about-wrap .section-aegius,
.about-wrap .section-shadey,
.about-wrap .section-mayflower {
    padding: 12px 12px 60px 12px;
  }
}
.about-wrap .section-aegius:before,
.about-wrap .section-shadey:before,
.about-wrap .section-mayflower:before {
  top: 0;
  left: 0;
  background-image: url("../../assets/img/gridbg_glow.png");
}
.about-wrap .section-aegius:after,
.about-wrap .section-shadey:after,
.about-wrap .section-mayflower:after {
  bottom: 0;
  left: 0;
  background-image: url("../../assets/img/gridbg_glow.png");
  -moz-transform: scaleX(-1) rotate(180deg);
  -o-transform: scaleX(-1) rotate(180deg);
  -ms-transform: scaleX(-1) rotate(180deg);
  -webkit-transform: scaleX(-1) rotate(180deg);
  transform: scaleX(-1) rotate(180deg);
}
.about-wrap .section-shadey:before, .about-wrap .section-shadey:after,
.about-wrap .section-mayflower:before,
.about-wrap .section-mayflower:after {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.about-wrap .side-nav {
  position: fixed;
  z-index: 14;
  top: 100px;
  right: 120px;
}
@media only screen and (max-width: 1024px) {
  .about-wrap .side-nav {
    right: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .about-wrap .side-nav {
    right: 40px;
  }
}
@media only screen and (max-width: 414px) {
  .about-wrap .side-nav {
    top: 54px;
    left: 24px;
    right: 0;
    text-align: center;
    display: none;
  }
}
@media only screen and (max-width: 414px) {
  .about-wrap .side-nav li {
    display: inline-block;
  }
}
.about-wrap .side-nav li a {
  display: block;
  padding: 5px 10px;
  font-family: "NotoSans Black", sans-serif;
  font-size: 1.2rem;
  color: #1f1f21;
  border-left: 3px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 414px) {
  .about-wrap .side-nav li a {
    font-size: 1rem;
    border-left: 0;
    border-bottom: 1px solid transparent;
  }
}
.about-wrap .side-nav li.is-active a {
  color: #333;
  border-left-color: #333;
}
@media only screen and (max-width: 414px) {
  .about-wrap .side-nav li.is-active a {
    border-bottom-color: #333;
  }
}
.about-wrap .side-nav li:hover a {
  color: #333;
  border-left-color: #333;
}
.about-wrap .meta-content .section-btn {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 30px;
  padding: 10px 45px;
  font-family: "NotoSans Black", sans-serif;
  font-size: 1.6rem;
  color: #f2f2f2;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #f2f2f2;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 414px) {
  .about-wrap .meta-content .section-btn {
    margin-left: 15px;
    font-size: 1rem;
  }
}
.about-wrap .meta-content .section-btn:hover {
  border-color: #f2f900;
  background-color: #f2f900;
  color: #333;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
}
.about-wrap .meta-content .meta-content-header {
  position: relative;
  padding-bottom: 40px;
  font-family: "NotoSans Black", sans-serif;
  font-size: 4.2rem;
  line-height: 1;
}
@media only screen and (max-width: 414px) {
  .about-wrap .meta-content .meta-content-header {
    font-size: 2.5rem;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 320px) {
  .about-wrap .meta-content .meta-content-header {
    font-size: 1.9rem;
  }
}
.about-wrap .meta-content .meta-content-header:before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 55px;
  height: 10px;
}
.meta-content.about-info {
  color: #f2f2f2;
}
.meta-content.about-info.quote-panel {
  font-family: "NotoSans Bold", sans-serif;
  height: 0;
}
.meta-content.about-info .meta-content-header:before {
  background-color: #f2f2f2;
}
@media only screen and (max-width: 414px) {
  .meta-content.about-info .meta-content-header:before {
    height: 5px;
  }
}

.meta-content.facilities-info {
  color: #1f1f21;
}
.meta-content.facilities-info .meta-content-header:before {
  background-color: #1f1f21;
}
@media only screen and (max-width: 414px) {
  .meta-content.facilities-info .meta-content-header:before {
    height: 5px;
  }
}

.meta-content.staff-info {
  color: #333333;
}
.meta-content.staff-info .meta-content-header:before {
  background-color: #333333;
}
@media only screen and (max-width: 414px) {
  .meta-content.staff-info .meta-content-header:before {
    height: 5px;
  }
}

.about-wrap .meta-content .meta-content-info {
  padding: 30px 0 0 30px;
  font-size: 1.8rem;
  line-height: 1.6;
}
@media only screen and (max-width: 768px) {
  .about-wrap .meta-content .meta-content-info {
    padding-right: 50px;
    padding-left: 15px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 320px) {
  .about-wrap .meta-content .meta-content-info {
    padding-right: 90px;
  }
}
.about-wrap .meta-content .meta-content-info span:not(.inner-info) {
  font-family: "NotoSans Black", sans-serif;
}
.about-wrap .meta-content .meta-content-info span.inner-info {
  display: block;
  margin-top: 0.9em;
  font-family: "NotoSans Regular", sans-serif;
}

.contact-wrap {
  position: fixed;
  z-index: 16;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  padding: 70px 50px;
  padding-top: 40px;
  background-color: #2a2a2a;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}
.contact-wrap.is-shown {
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (max-width: 414px) {
  .contact-wrap {
    width: 100%;
    padding: 15px;
  }
}
.contact-wrap .contact-header {
  margin-top: 1.2em;
  font-family: "NotoSans Black", sans-serif;
  font-size: 2.5rem;
  color: #f2f2f2;
  line-height: 1.3;
}
@media only screen and (max-width: 414px) {
  .contact-wrap .contact-header {
    margin-top: 1.5em;
    font-size: 2rem;
  }
}
.contact-wrap .contact-header span {
  color: #446bca;
}
.contact-wrap .contact-meta-info {
  margin-bottom: 36px;
  font-family: "NotoSans Medium", sans-serif;
  font-size: 0.9rem;
  color: #8c8c8c;
}
@media only screen and (max-width: 320px) {
  .contact-wrap .contact-meta-info {
    margin-bottom: 0;
  }
}
.contact-wrap .contact-meta-info a {
  font-family: "NotoSans Black", sans-serif;
  color: #446bca;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact-wrap .contact-meta-info a:hover {
  color: #f2f2f2;
}
.contact-wrap .contact-formfield .form-two a,
.contact-wrap .contact-formfield .form-two button {
  display: inline-block;
  width: 49%;
  margin-top: 12px;
}
.contact-wrap .contact-formfield .form-two button {
  margin-left: 6px;
  border-color: #fa6700;
  background-color: #fa6700;
  color: #f2f2f2;
}
@media only screen and (max-width: 320px) {
  .contact-wrap .contact-formfield .form-two button {
    margin-left: 5px;
  }
}
.contact-wrap .contact-formfield .form-two button:hover {
  border-color: #c55000;
  background-color: #c55000;
}
.contact-wrap .contact-formfield .form-two button.btn-disabled {
  color: #707070;
  pointer-events: none;
  cursor: default;
  border-color: #707070;
  background-color: transparent;
}
.contact-wrap .contact-formfield .form-two a:hover {
  background-color: #446bca;
}
.contact-wrap .contact-formfield .form-two a i {
  display: inline-block;
  width: 35px;
  height: 25px;
  margin-right: -15px;
  line-height: 1.7;
}
@media only screen and (max-width: 320px) {
  .contact-wrap .contact-formfield .form-two a i {
    width: 15px;
    height: 21px;
    margin-right: -2px;
    line-height: 1.5;
  }
}
.contact-wrap .contact-formfield .form-two textarea {
  resize: vertical;
}
@media only screen and (max-width: 320px) {
  .contact-wrap .contact-formfield .form-two textarea {
    height: 153px !important;
  }
}
.contact-wrap .contact-formfield .form-two textarea.input-error {
  border-color: #C62828;
}
.contact-wrap .contact-formfield label {
  position: relative;
  display: block;
}
.contact-wrap .contact-formfield label:before {
  position: absolute;
  content: "*";
  z-index: 1;
  top: 50%;
  left: 22px;
  width: 16px;
  height: 16px;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "NotoSans Black", sans-serif;
  color: #C62828;
}
.contact-wrap .contact-formfield label.active:before {
  content: "";
}
.contact-wrap .contact-formfield label.textarea-label:before {
  top: 16%;
}
@media only screen and (max-width: 320px) {
  .contact-wrap .contact-formfield label.textarea-label:before {
    top: 24%;
  }
}
.contact-wrap .contact-formfield .form-text {
  position: relative;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 20px 35px;
  color: #707070;
  border: 1px solid #313131;
  background: #313131;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.contact-wrap .contact-formfield .form-text::-moz-placeholder {
  text-transform: uppercase;
}
.contact-wrap .contact-formfield .form-text::-webkit-input-placeholder {
  text-transform: uppercase;
}
.contact-wrap .contact-formfield .form-text:-ms-input-placeholder {
  text-transform: uppercase;
}
.contact-wrap .contact-formfield .form-text::placeholder {
  text-transform: uppercase;
}
@media only screen and (max-width: 320px) {
  .contact-wrap .contact-formfield .form-text {
    height: 20px;
  }
}
.contact-wrap .contact-formfield .form-text.input-error {
  border-color: #C62828;
}
.contact-wrap .contact-formfield .form-text:focus {
  background: #383838;
  border: 1px solid #383838;
}
.contact-wrap .contact-formfield .form-text:focus::-moz-placeholder {
  color: transparent;
}
.contact-wrap .contact-formfield .form-text:focus::-webkit-input-placeholder {
  color: transparent;
}
.contact-wrap .contact-formfield .form-text:focus:-ms-input-placeholder {
  color: transparent;
}
.contact-wrap .contact-formfield .form-text:focus::placeholder {
  color: transparent;
}
.contact-wrap .contact-formfield .form-text:blur {
  background: #313131;
  border: 1px solid #313131;
}
.contact-wrap .contact-formfield .form-text:blur::-moz-placeholder {
  color: #707070;
}
.contact-wrap .contact-formfield .form-text:blur::-webkit-input-placeholder {
  color: #707070;
}
.contact-wrap .contact-formfield .form-text:blur:-ms-input-placeholder {
  color: #707070;
}
.contact-wrap .contact-formfield .form-text:blur::placeholder {
  color: #707070;
}
.contact-wrap .contact-formfield .form-btn {
  display: block;
  margin-top: 18px;
  width: 100%;
  padding: 15px;
  font-family: "NotoSans Black", sans-serif;
  font-size: 1.2rem;
  color: #446bca;
  border: 2px solid #446bca;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
@media only screen and (max-width: 320px) {
  .contact-wrap .contact-formfield .form-btn {
    margin-top: 9px;
    padding: 10px;
    font-size: 1rem;
  }
}
.contact-wrap .contact-formfield .form-btn:hover {
  color: #f2f2f2;
  background-color: #446bca;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.contact-overlay {
  position: fixed;
  z-index: -15;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #446bca;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.contact-overlay.is-shown {
  z-index: 15;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.footer {
  color: #f2f2f2;
  background-color: #1f1f21;
}
.footer .footer-wrap {
  padding: 2em 0 0;
}
@media only screen and (max-width: 320px) {
  .footer .footer-wrap {
    margin: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}
@media only screen and (max-width: 320px) {
  .footer .footer-wrap .col-xs-6 {
    padding: 0;
  }
}
.footer-meta {
  font-family: "NotoSans Black", sans-serif;
}
.footer-meta.company-address {
  padding-bottom: 20px;
  font-family: "NotoSans Medium", sans-serif;
}

.footer .footer-wrap .footer-meta-title {
  font-family: "NotoSans Black", sans-serif;
}
.footer .footer-wrap a {
  margin-bottom: 15px;
  font-family: "NotoSans Black", sans-serif;
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer .footer-wrap a:hover {
  color: #f2f2f2;
}

/*# sourceMappingURL=style.css.map */
